<mat-toolbar>
  <div class="leftContent">
    <fa-icon routerLink="../" [icon]="faCircleArrowLeft" class="back"></fa-icon
    ><span class="back-word">Back</span>
    <img
      src="../../../../assets/images/logo.png"
      alt=""
      srcset=""
      class="logo"
    />
  </div>
</mat-toolbar>
<div class="header-style">
  <fa-icon class="add-icon" [icon]="faUser"></fa-icon>
  <h2 class="header-headings">PROFILE</h2>
</div>
<div class="Employee-container">
  <div class="profile-container">
    <div class="container-1">
      <p class="profile-heading">EMPLOYEE PROFILE</p>
      <div>
        <p class="sub-heading2">Employee Id: {{backData[0].id}}</p>
        <p class="sub-heading2">Date of join: {{backData[0].other_declaration==null?"S":'N'}}</p>
      </div>
    </div>
    <div>
      <div class="profile-img">
        <img
          [src]="src == '' ? '../../../../assets/images/pro.webp' : src"
          alt=""
          srcset=""
        />
      </div>
      <h4 class="sub-headin1">{{backData[0].name}}</h4>
      <h4 class="sub-headin1">{{backData[0].designation}}</h4>
    </div>
    <div class="profile-creation-details">
      <p>Created By : {{backData[0].created_by}}</p>
      <p>Created On : {{backData[0].created_at | date:'dd-mm-yyyy'}}</p>
    </div>
  </div>
  <!-- personal info -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          <fa-icon
            [icon]="faCircleCheck"
            [style.color]="
              personalInfoStatus == 'completed'
                ? '#ff934f'
                : 'rgba(128, 128, 128, 0.811)'
            "
            class="status-icon"
          ></fa-icon>
        </span>

        PERSONAL INFORMATION
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="info personal-info" *ngIf="backData[0].personal_info!=null">
      <div class="disp-row">
        <p class="heading">First name</p>
        <p class="datas">{{ backData[0].personal_info.first_name }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">Last name</p>
        <p class="datas">{{ backData[0].personal_info.last_name }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">DOB</p>
        <p class="datas">{{ backData[0].personal_info.dob }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">Gender</p>
        <p class="datas">{{ backData[0].personal_info.gender }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">Mobile Number</p>
        <p class="datas">{{ backData[0].personal_info.mobile_number }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">Alternate Number</p>
        <p class="datas">{{ backData[0].personal_info.alternate_number }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">Email</p>
        <p class="datas">{{ backData[0].personal_info.personal_email }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">Father name</p>
        <p class="datas">{{ backData[0].personal_info.father_name }}</p>
      </div>
    </div>
    <div >
      <p class="heading address-heading">Addresses</p>
      <div class="info personal-info">
        <div *ngFor="let d of backData[0].address">
          <p class="heading">{{ d.type }} Address</p>
          <p class="datas">
            {{
                d.house_no +
                "," +
                d.street +
                " " +
                d.locality +
                "," +
                d.city +
                ", " +
                d.state +
                "-" +
                d.pincode +
                "," +
                d.country
            }}
          </p>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <!-- education -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          <fa-icon
            [icon]="faCircleCheck"
            [style.color]="
              educationStatus == 'completed'
                ? '#ff934f'
                : 'rgba(128, 128, 128, 0.811)'
            "
            class="status-icon"
          ></fa-icon>
        </span>

        EDUCATIONAL DETAILS
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="backData[0].educational_info!=null">
      <div *ngFor="let d of backData[0].educational_info;let i = index" class="data-content">
        <p class="heading">{{ d.type }}</p>
        <div class="info personal-info">
          <div class="disp-row">
            <p class="heading">University/School name</p>
            <p class="datas">{{ d.name }}</p>
          </div>
          <div class="disp-row">
            <p class="heading">Board</p>
            <p class="datas">{{ d.board }}</p>
          </div>
          <div class="disp-row" *ngIf="d.type =='Graduation'  || d.type == 'Masters/Post-Graduation'">
            <p class="heading">Specilization</p>
            <p class="datas">{{ d.specialization }}</p>
          </div>
          <div class="disp-row" *ngIf="d.type == 'Graduation' || d.type == 'Masters'">
            <p class="heading">Course</p>
            <p class="datas">{{ d.course }}</p>
          </div>

          <div class="disp-row">
            <p class="heading">End Date</p>
            <p class="datas">{{ d.end_date }}</p>
          </div>
          <div class="disp-row">
            <p class="heading">Marks</p>
            <p class="datas">
              {{ d.marks }}{{ d.marks < 10 ? " CGPA" : " %" }}
            </p>
          </div>
          <div>
            <button mat-button (click)="openDialog('educational_info',i,d.type)">
              <mat-icon>folder</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <!-- Employment -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          <fa-icon
            [icon]="faCircleCheck"
            [style.color]="
              employmentStatus == 'completed'
                ? '#ff934f'
                : 'rgba(128, 128, 128, 0.811)'
            "
            class="status-icon"
          ></fa-icon>
        </span>

        EMPLOYMENT DETAILS
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div
      class="emp-info"
      *ngIf="backData[0].employment_details.length > 0; else fresher"
    >
      <div
        class="info personal-info data-content"
        *ngFor="let d of backData[0].employment_details;let i=index"
      >
        <div class="disp-row">
          <p class="heading">Organization Name</p>
          <p class="datas">{{ d.org_name }}</p>
        </div>
        <div class="disp-row">
          <p class="heading">Joining Date</p>
          <p class="datas">{{ d.joining_date }}</p>
        </div>
        <div class="disp-row">
          <p class="heading">Relieving Date</p>
          <p class="datas">{{ d.relieving_date }}</p>
        </div>
        <div class="disp-row" *ngIf="d.type == 'Recent'">
          <p class="heading">Notice Date</p>
          <p class="datas">{{ d.notice_date }}</p>
        </div>
        <div *ngIf="d.type != 'Recent'" class="dummy">
          <p class="heading">&emsp;&emsp;&emsp;</p>
          <p class="datas">&emsp;&emsp;&emsp;&emsp;</p>
        </div>
        <div>
          <button mat-button (click)="openDialog('employment_details',i,d.type)">
            <mat-icon>folder</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <ng-template #fresher>
      <p class="type" style="color: #ff934f; text-align: center">
        "Looks like the employee is fresher"
      </p>
    </ng-template>
  </mat-expansion-panel>
  <!-- others -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          <fa-icon
            [icon]="faCircleCheck"
            [style.color]="
              otherdetailsStatus == 'completed'
                ? '#ff934f'
                : 'rgba(128, 128, 128, 0.811)'
            "
            class="status-icon"
          ></fa-icon>
        </span>

        OTHER DETAILS
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="heading">Proof certificates:</p>
<div class="info personal-info"  *ngIf="backData[0].other_details!=null">
  <div class="disp-row">
    <p class="heading">Aadhar Number</p>
    <p class="datas">{{ backData[0].other_details.aadhar_card_number }}</p>
  </div>
   <div class="disp-row">
    <p class="heading">Pan Number</p>
    <p class="datas">{{ backData[0].other_details.pan_card_number }}</p>
  </div>
  <div class="disp-row">
    <p class="heading">Passport Number</p>
    <p class="datas">{{ backData[0].other_details.passport_number==''?'NA':backData[0].other_details.passport_number }}</p>
  </div>
  <div class="disp-row">
    <p class="heading">Passport Expire</p>
    <p class="datas">{{ backData[0].other_details.passport_expire_date==null?'NA':backData[0].other_details.passport_expire_date }}</p>
  </div> 
  <div>
            <button mat-button (click)="openDialog('other_details')">
              <mat-icon>folder</mat-icon>
            </button>
          </div>
</div>
<p class="heading">Bank Details:</p>
    <div class="personal-info info" *ngIf="backData[0].bank_detail!=null">
      <div class="disp-row">
        <p class="heading">Account Holder Name</p>
        <p class="datas">{{ backData[0].bank_detail.account_holder_name }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">Bank Name</p>
        <p class="datas">{{ backData[0].bank_detail.bank_name }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">Account Number</p>
        <p class="datas">{{ backData[0].bank_detail.account_number }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">IFSC Code</p>
        <p class="datas">{{ backData[0].bank_detail.ifsc_code }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">Account Type</p>
        <p class="datas">{{ backData[0].bank_detail.account_type }}</p>
      </div>
      </div>
      <p class="heading">PF Details</p>
      <div class="info">
      <div class="disp-row">
        <p class="heading">PF Account Number</p>
        <p class="datas">{{ backData[0].bank_detail.pf_account_number==''?'NA':backData[0].bank_detail.pf_account_number }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">UAN Account Number</p>
        <p class="datas">{{ backData[0].bank_detail.uan_account_number==''?'NA':backData[0].bank_detail.uan_account_number }}</p>
      </div>
    </div>
     
   
  </mat-expansion-panel>
  <!-- declaration -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          <fa-icon
            [icon]="faCircleCheck"
            [style.color]="
              declaration == 'completed'
                ? '#ff934f'
                : 'rgba(128, 128, 128, 0.811)'
            "
            class="status-icon"
          ></fa-icon>
        </span>

        DECLARATION
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="personal-info info" *ngIf="backData[0].other_declaration!=null">
      <div class="disp-row">
        <p class="heading">Joining Date</p>
        <p class="datas">{{ backData[0].other_declaration.joining_date }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">Place</p>
        <p class="datas">{{ backData[0].other_declaration.place }}</p>
      </div>
      <div class="disp-row">
        <p class="heading">Date</p>
        <p class="datas">{{ backData[0].other_declaration.date }}</p>
      </div>
    </div>
  </mat-expansion-panel>
</div>
