<mat-toolbar>
  <div class="leftContent">
    <fa-icon routerLink="../" [icon]="faCircleArrowLeft" class="back"></fa-icon><span class="back-word">Back</span>
   <img src="../../../../assets/images/logo.png" alt="" srcset="" class="logo">
  </div>
</mat-toolbar>
<div class="header-style">
  <fa-icon class="add-icon"[icon]="faUser" ></fa-icon>
  <h2 class="header-headings">ALL EMPLOYEES</h2>
</div>
<div class="expansion-container">
  <div class="created-container">
    <div>
      <h4 class="created-heading">Created by :</h4>
      <p class="datas">Admin </p>
    </div>
    <div>
      <h4 class="created-heading">Created At :</h4>
      <p class="datas">2020-09-08</p>
    </div>
  </div>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel
      [expanded]="step === 0"
      (opened)="setStep(0)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> <h5>Personal Information</h5> </mat-panel-title>
        <mat-panel-description>
          <div></div>
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="profile">
        <div class="profile-img">
          <img [src]="'../../../../assets/images/pro.webp'" alt="" srcset="" />
        </div>
        <h4 class="profile-name">Alex</h4>
        <p class="profile-data">Jr.Software Developer, DB0065</p>
      </div>

      <div class="info personal-info">
        <div class="disp-row">
          <p class="heading">First name</p>
          <p class="datas">{{ personalInfo.fname }}</p>
        </div>
        <div class="disp-row">
          <p class="heading">Last name</p>
          <p class="datas">{{ personalInfo.lname }}</p>
        </div>
        <div class="disp-row">
          <p class="heading">DOB</p>
          <p class="datas">{{ personalInfo.dob }}</p>
        </div>
        <div class="disp-row">
          <p class="heading">Mobile Number</p>
          <p class="datas">{{ personalInfo.mobNo }}</p>
        </div>
        <div class="disp-row">
          <p class="heading">Alternate Number</p>
          <p class="datas">{{ personalInfo.alternateNo }}</p>
        </div>
        <div class="disp-row">
          <p class="heading">Email</p>
          <p class="datas">{{ personalInfo.personalEmail }}</p>
        </div>
      </div>
      <div>
        <p class="heading address-heading">Addresses</p>
        <div class="info personal-info">
          <div>
            <p class="heading">Permanent Address</p>
            <p class="datas">#123 gandhi nagar mumbai</p>
          </div>
          <div>
            <p class="heading">Current Address</p>
            <p class="datas">#123 gandhi nagar mumbai</p>
          </div>
        </div>
      </div>
      <mat-action-row>
        <button mat-button class="btn-orange" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 1"
      (opened)="setStep(1)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> <h5>Educational Details</h5> </mat-panel-title>
        <mat-panel-description>
          <div></div>

          <mat-icon>school</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        <p class="heading edu-heading">10Th</p>
        <div class="info personal-info">
          <div class="disp-row">
            <p class="heading">University/School name</p>
            <p class="datas">ABDC</p>
          </div>
          <div class="disp-row">
            <p class="heading">Board</p>
            <p class="datas">KSSLC</p>
          </div>
          <div class="disp-row">
            <p class="heading">End Date</p>
            <p class="datas">2020-01-03</p>
          </div>
          <div class="disp-row">
            <p class="heading">Marks</p>
            <p class="datas">70%</p>
          </div>
          <div>
            <button
              mat-button
              (click)="openDialog()"
            >
              <mat-icon>folder</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <mat-action-row>
        <button mat-button  color="warn" (click)="prevStep()">
          Previous
        </button>
        <button mat-button class="btn-orange" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 2"
      (opened)="setStep(2)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title><h5>Employment Details</h5></mat-panel-title>
        <mat-panel-description>
          <div></div>
          <mat-icon>work</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!--  -->
      <div class="emp-info">
        <div class="info personal-info">
          <div class="disp-row">
            <p class="heading">Organization Name</p>
            <p class="datas">ABDC</p>
          </div>
          <div class="disp-row">
            <p class="heading">Joining Date</p>
            <p class="datas">2020-09-09</p>
          </div>
          <div class="disp-row">
            <p class="heading">Relieving Date</p>
            <p class="datas">2020-01-03</p>
          </div>
          <div class="disp-row">
            <p class="heading">Notice Date</p>
            <p class="datas">2020-09-08</p>
          </div>
          <div>
            <button
              mat-button
              (click)="openDialog()"
            >
              <mat-icon>folder</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <!--  -->
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button class="btn-orange" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel
      [expanded]="step === 3"
      (opened)="setStep(3)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title><h5>Other Details</h5></mat-panel-title>
        <mat-panel-description>
          <div></div>
          <mat-icon>library_books</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!--  -->
      <div class="emp-info">
        <div class="info">
          <div>
            <p class="heading">Aadhar Card</p>
            <mat-icon (click)="openImg()">image</mat-icon>
          </div>
          <div>
            <p class="heading">Pan Card</p>
            <mat-icon (click)="openImg()">image</mat-icon>
          </div>
          <div>
            <p class="heading">Passport</p>
            <mat-icon (click)="openImg()">image</mat-icon>
          </div>
        </div>
      </div>
      <!--  -->
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button class="btn-orange" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel
      [expanded]="step === 4"
      (opened)="setStep(4)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title><h5>Declaration</h5></mat-panel-title>
        <mat-panel-description>
          <div></div>
          <mat-icon>style</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!--  -->
      <div class="emp-info">
        <div class="info">
          <div>
            <p class="heading">Joining Date</p>
            <p class="datas">2020-09-05</p>
          </div>
          <div>
            <p class="heading">Place</p>
            <p class="datas">Bengalore</p>
          </div>
          <div>
            <p class="heading">Date</p>
            <p class="datas">2020-09-05</p>
          </div>
          <div>
            <button
            mat-button
            (click)="openDialog()"
          >
            <mat-icon>folder</mat-icon>
          </button>
          </div>
        </div>
      </div>
      <!--  -->
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button class="btn-orange" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="modal" [ngStyle]="{ display: display }">
  <mat-icon class="close" (click)="closeImg()">close</mat-icon>
  <img class="modal-img" [src]="img" />
</div>