<mat-toolbar>
  <img src="../../assets/images/full_logo.png" alt="Diggibyte_Logo" width="200px"  />
</mat-toolbar>
<button mat-raised-button class="btn back" (click)="clickHandler()">
  Back
</button>
<div class="container">
<div class="content">
  <h1>Create New Password?</h1>
  <p>Please enter your new password</p>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="password" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input matInput placeholder=" confirm password" />
  </mat-form-field>
  <button mat-raised-button class="btn reset">Reset Password</button>
</div>
</div>
