
.landing-container {
  margin-left: 12%;
  margin-top: 1.5rem;
}
.landing-img {
  max-width: 90%;
  object-fit: cover;
}
mat-toolbar{
  padding: 0;
  align-items: unset;
}
.leftContent{
  width: 100%;
  background-color: white;
 padding: 1rem .5rem;
}
.logo {
  position: inherit;
  margin-top: -2.5rem;
  float:right;
  width: 5rem;
  height: 4rem;
 }
 h5{
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  font-family: inter;
}
/* ---------------------- */
@media (max-width: 75em) {
  .landing-container {
    margin-left: 11%;
  }
}
@media (max-width: 62.5em) {
  .landing-container {
    margin-left: 11%;
  }
  .landing-img {
    object-fit: fill;
    width: 100%;
  }
}
