<mat-toolbar>
  <div class="leftContent">
    <h5>Welcome back Admin!</h5>
    <img
      src="../../../../assets/images/logo.png"
      alt=""
      srcset=""
      class="logo"
    />
  </div>
</mat-toolbar>
<div class="dashboard-container">
  <div class="section-1">
    <div class="section-card-1">
      <div class="cards-sections">
        <div class="card-section">
          <div class="custom-cards">
            <div><p class="card-heading">Total Employees</p></div>
            <div class="card-content">
              <div class="icon-shade">
                <p class="icon"><fa-icon [icon]="faUsers"></fa-icon></p>
              </div>
              <p class="totals">{{totals.total}}</p>
            </div>
          </div>
          <div class="custom-cards">
            <div><p class="card-heading">Pending Onboarding Profiles</p></div>
            <div class="card-content">
              <div class="icon-shade">
                <p class="icon"><fa-icon [icon]="faUsers"></fa-icon></p>
              </div>
              <p class="totals">{{totals.pcount}}</p>
            </div>
          </div>
        </div>
        <div class="card-section">
          <div class="custom-cards">
            <div>
              <p class="card-heading">Completed Onboarding Profiles</p>
            </div>
            <div class="card-content">
              <div class="icon-shade">
                <p class="icon"><fa-icon [icon]="faUsers"></fa-icon></p>
              </div>
              <p class="totals">{{totals.total-totals.pcount}}</p>
            </div>
          </div>
          <div class="custom-cards">
            <div>
              <p class="card-heading">Rejected Offer Letters</p>
            </div>
            <div class="card-content">
              <div class="icon-shade">
                <p class="icon"><fa-icon [icon]="faUsers"></fa-icon></p>
              </div>
              <p class="totals">124</p>
            </div>
          </div>
        </div>
      </div>
      <div class="activity">
        <h4 class="activity-main-heading">PENDING ONBOARDING PROFILES</h4>
        <div class="pending-container">
          <div class="pending-lists" *ngFor="let data of pendingRecord">
            <img src="../../../../assets/images/profile.jpg" alt="" />
            <div class="pending-data">
              <p>{{data.name}}</p>
            </div>
            <div class="pending-data">
              <p>{{data.email}}</p>
            </div>
            <div class="progress-bar">
              <span class="spin-value">{{ data.status + "%" }}</span>
              <div class="spinners">
                <mat-progress-spinner
                  class="track"
                  ProgressSpinnerMode="determinate"
                 value="100"
                  strokeWidth="7"
                  diameter="40"
                >
                </mat-progress-spinner>

                <mat-progress-spinner
                  class="overlay"
                  strokeWidth="7"
                  diameter="40"
                  ProgressSpinnerMode="determinate"
                  [value]="data.status"
                >
                </mat-progress-spinner>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="activity-section">
      <div class="activity">
        <h4 class="activity-main-heading">ACTIVITIES</h4>
        <div class="activity-content">
          <div class="top-border"></div>
          <div>
            <p class="new-activity">New Activities</p>
            <ul>
              <li>
                <fa-icon [icon]="faMessage" class="message-blue"></fa-icon
                > <p>Activity name</p> 
              </li>
              <li>
                <fa-icon [icon]="faMessage" class="message-blue"></fa-icon
                ><p>Activity name</p>
              </li>
              <li>
                <fa-icon [icon]="faMessage" class="message-blue"></fa-icon
                ><p>Activity name</p>
              </li>
              <li>
                <fa-icon [icon]="faMessage" class="message-blue"></fa-icon
                ><p>Activity name</p>
              </li>
            </ul>
          </div>
          <div>
            <p class="new-activity">Recent Activities</p>
            <ul *ngFor="let d of newRecord">
              <li>
                <fa-icon [icon]="faMessage" class="message-orange"></fa-icon
                ><p>{{d.name}} have been added on {{d.created_at | date : "dd-mm-yyyy"}}</p> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="recent-lists">
    <p class="activity-main-heading" onclick="routeTo()">
      RECENTLY ADDED EMPLOYEES
    </p>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef >Name</th>

        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef >Employee ID</th>

        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef >Email</th>

        <td mat-cell *matCellDef="let element" class="name">
          {{ element.email }}
        </td>
      </ng-container>
      <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef >Updated At</th>

        <td mat-cell *matCellDef="let element">{{ element.updated_at | date: "dd/MM/yyyy"}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef >Status</th>

        <td mat-cell *matCellDef="let element">{{ element.status==100?'Completed':'in progress' }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>

        <td mat-cell *matCellDef="let element">

          <fa-icon [icon]="faPen" class="message-orange actions"></fa-icon>
          <fa-icon [icon]="faTrash" class="message-orange actions"></fa-icon>
          <fa-icon [icon]="faEye" class="message-orange actions"></fa-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
    </table>
  </div>
</div>
