* {
  font-family: "Inter";
}
mat-toolbar {
  padding: 0;
  align-items: unset;
}
.leftContent {
  width: 100%;
  background-color: white;
  padding: 1rem 0.5rem;
}
.logo {
  position: inherit;
  margin-top: -2.5rem;
  float: right;
  width: 5rem;
  height: 4rem;
}
h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  font-family: inter;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.section-1 {
  display: flex;
  flex-direction: row;
  height: 88vh;
}
.section-card-1 {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.cards-sections {
  display: column;
  justify-content: space-between;
}
.card-section {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  gap: 4rem;
}
.activity-section {
  height: 65vh;
  flex: 1.5;
  padding: 1rem;
  padding-top: 10%;
  margin-left: 3rem;
  width: 100%;
}
.custom-cards {
  width: 15rem;
  height: 4rem;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 1px 2px 14px #667d8d;
  border-radius: 5px;
  padding: 21px 18px;
  transition: all 0.5s ease-in;
}
.custom-cards:hover,
.custom-cards:hover .icon-shade,
.custom-cards:hover .card-heading {
  background: linear-gradient(
    135.39deg,
    #fdbb2d -11.18%,
    #ffbe9d 58.96%,
    #ffd29c 88.57%
  );
  color: white;
  box-shadow: none;
}
.card-heading {
  width: 254px;
  height: 19px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  transition: background-color 0.4s ease-in;
}
.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: background-color 0.4s ease-in;
}

.icon-shade {
  color: white;
  width: 43px;
  height: 43px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #fafafa;
  border-radius: 50%;
  text-align: center;
  transition: background-color 0.4s ease-in;
}
.icon {
  padding-top: 0.6rem;
}
.totals {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: black !important;
}
.activity-main-heading {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #323232;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.activity {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 1px 2px 14px #667d8d;
  border-radius: 10px;
  padding: 21px 18px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.activity-content {
  border: 1px solid #758189;
  opacity: 0.8;
  border-radius: 10px;
  border-top: transparent;
  width: 100%;
}
.top-border {
  width: 100.8%;
  margin-left: -0.08rem;
  height: 15.26px;
  background: radial-gradient(
    112.89% 507.67% at -12.01% -12.89%,
    #ff8a00 0%,
    #f67627 45.3%,
    #ff8e21 100%
  );
  border-radius: 10px 10px 0px 0px;
}
.new-activity {
  font-weight: 600;
  padding: 10px;
  font-size: 14px;
  color: #1c4765;
  text-align: center;
  border-bottom: 1.5px solid #758189;
}
.activity-content ul {
  list-style: none;
}
.activity-content ul li {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  overflow: hidden;
}
.message-blue {
  color: #61b2fd;
}
.message-orange {
  color: #ff8a00;
}
.pending-container ul {
  list-style: none;
}
.pending-container ul li {
  display: block;
}
.pending-lists {
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  justify-content: space-evenly;
  padding: 1rem;
}
.pending-data {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin-top: 1rem;
}
.pending-lists img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: -10%;
}
::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #fb7d2e;
}
.progress-bar {
  position: relative;
  padding-top: 0.3rem;
}
.spin-value {
  position: absolute;
  display: inline;
  top: 25%;
  margin-left: 0.8rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 22px;
  color: #000000;
}
::ng-deep .track circle {
  stroke-opacity: 0.3 !important;
}
.track {
  display: inline;
}
.spinners {
  position: absolute;
}
h1 {
  box-shadow: 1px 10px 19px rgba(0, 0, 0, 0.709) !important;
}
.overlay {
  top: 0%;
  left: 0;
  display: inline;
}
.recent-lists {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 1px 2px 14px #667d8d;
  border-radius: 5px;
  padding: 21px 18px;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
table {
  width: 100%;
  border: 1px solid #667d8d94;
  border-radius: 2px
}
.actions {
  padding: 0 0.2rem;
}
th {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
color: #000000;
}
/* ---------------------- */
