<h1 mat-dialog-title>Add Education</h1>
<div>
  <form [formGroup]="dialog12Form">
    <mat-form-field appearance="outline">
      <mat-label for="education">Education</mat-label>
      <input
        matInput
        type="text"
        id="education"
        name="education"
        formControlName="education"
        readonly="true"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="board">Board</mat-label>
      <input
        matInput
        type="text"
        id="board"
        name="board"
        formControlName="board"
        style="text-transform:capitalize;"
      />
      <mat-error
      *ngIf="dialog12Form.get('board')?.errors?.['required'] && dialog12Form.get('board')?.pristine || dialog12Form.get('board')?.value.length==0"
      >Board is required</mat-error
    >

    <mat-error
      *ngIf="dialog12Form.get('board')?.errors?.['characterValidator'] && dialog12Form.get('board')?.dirty && dialog12Form.get('board')?.value.length>0"
      >Digits and special characters are not allowed</mat-error
    >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="School">School/College</mat-label>
      <input
        matInput
        type="text"
        id="School"
        name="School"
        formControlName="School"
        style="text-transform:capitalize;"
      />
      <mat-error
        *ngIf="dialog12Form.get('School')?.errors?.['required'] && dialog12Form.get('School')?.pristine || dialog12Form.get('School')?.value.length==0"
        >School name is required</mat-error
      >

      <mat-error
        *ngIf="dialog12Form.get('School')?.errors?.['characterValidator'] && dialog12Form.get('School')?.dirty && dialog12Form.get('School')?.value.length>0"
        >Digits and specialcharacters are not allowed</mat-error
      >
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label for="percentage">Percentage/CGPA</mat-label>
      <input
        matInput
        type="text"
        id="percentage"
        name="percentage"
        formControlName="percentage"
        maxlength="5"
      />
    
      <mat-error
        *ngIf="dialog12Form.get('percentage')?.errors?.['required'] && dialog12Form.get('percentage')?.pristine || dialog12Form.get('percentage')?.value.length==0"
        >Percentage is required</mat-error
      >

      <mat-error
        *ngIf="dialog12Form.get('percentage')?.errors?.['percentageValidator'] && dialog12Form.get('percentage')?.dirty && dialog12Form.get('percentage')?.value.length>0"
        >Enter a valid percentage/CGPA</mat-error
      >
    </mat-form-field>
    
  

    <mat-form-field appearance="outline">
      <mat-label for="startDate">Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        id="startDate"
        name="startDate"
        formControlName="startDate"
        onkeydown="return false"
        onclick="return false"
        readonly
      />
  
      <mat-error
        *ngIf="
          this.dialog12Form.get('startDate')?.invalid &&
          this.dialog12Form.get('startDate')?.touched
        "
        >Please select start date</mat-error
      >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="endDate">End Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        id="endDate"
        name="endDate"
        formControlName="endDate"
        onkeydown="return false"
        onclick="return false"
        (dateChange)="dateValidators()"
        readonly
      />
   
      <mat-error
        *ngIf="dialog12Form.get('endDate')?.errors?.['required'] && dialog12Form.get('endDate')?.pristine || dialog12Form.get('endDate')?.value.length==0"
        >Please select end date</mat-error
      >
      <mat-hint *ngIf="!this.dateValidator"
      >End date must be greater than start date</mat-hint
    >
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

   

    <div class="uploadContainer">
      <span class="type"style="padding-right: .5rem;">Upload Marksheet</span>
      <label for="marksheet"
      ><mat-icon >file_upload</mat-icon></label
      >
      <label class="file-upload" for="marksheet">{{dialog12Form.value.marksheet}}</label>
      <input
      style="display: none"
        type="file"
        name="marksheet"
        id="marksheet"
        (change)="fileChange($event)"
        formControlName="marksheet"
        />
      <mat-error
      *ngIf="dialog12Form.get('marksheet')?.errors?.['required'] && dialog12Form.get('marksheet')?.touched"
      >Please upload a marksheet</mat-error>
      <mat-error *ngIf="
      !dialog12Form.get('marksheet')?.errors?.required && dialog12Form.get('marksheet')?.errors?.pattern">
      marksheet must be in pdf formate
      </mat-error>
    </div>     
  </form>
</div>

<div mat-dialog-action [align]="'end'" class="btn-grp">
  <button mat-button class="btn-primary" (click)="add12Form()" [disabled]="!dialog12Form.valid">
    {{ actionBtn }}
  </button>
  <button mat-button class="btn-primary" mat-dialog-close="true">Close</button>
</div>
