<mat-drawer-container>
  <!-- SideBar Content -->
  <mat-drawer mode="side" opened="true">
    <div class="sidenav-section">
      <div class="userProfile">
        <div class="profile-img">
          <img
            [src]="src == '' ? '../../../../assets/images/pro.webp' : src"
            alt=""
            srcset=""
          />
        </div>
        <form [formGroup]="photoForm">
          <label for="photo" class="cam"
            ><mat-icon>add_a_photo</mat-icon></label
          >

          <input
            style="display: none"
            type="file"
            name="photo"
            id="photo"
            (change)="fileChange($event)"
            formControlName="photo"
          />

          <mat-error
            *ngIf="photoForm.get('photo')?.errors?.['required'] && photoForm.get('photo')?.touched"
            >Please upload a photo</mat-error
          >
          <mat-error
            *ngIf="
              photoForm.get('photo')?.errors?.required &&
              photoForm.get('photo')?.errors?.pattern &&
              photoForm.get('photo')?.errors?.touched
            "
          >
            Photo must be in jpg/jpeg/png/gif formate
          </mat-error>
        </form>
        <h3>{{ data.name }}</h3>
        <p>{{ data.designation }}</p>
      </div>

      <div class="sidenav-menu">
        <ul>
          <li>
            <a
              routerLink="personal-information"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              ><fa-icon
              [icon]="faCircleCheck"
              class="check"
              *ngIf="employeeData.personStatus!=null && employeeData.personStatus.status=='completed'"
            ></fa-icon
          ><fa-icon [icon]="faAddressBook"></fa-icon
              >personal-information</a>
          </li>
          <li>
            <a routerLink="educational-qualification" routerLinkActive="active"
              ><fa-icon
              [icon]="faCircleCheck"
              class="check"
              *ngIf="employeeData.edStatus!=null && employeeData.edStatus.status=='completed'"
            ></fa-icon
          ><fa-icon [icon]="faGraduationCap"></fa-icon
              >educational-qualification</a>
          </li>
          <li>
            <a routerLink="employment-details" routerLinkActive="active"
              ><fa-icon
              [icon]="faCircleCheck"
              class="check"
              *ngIf="employeeData.empStatus!=null &&employeeData.empStatus.status=='completed'"
            ></fa-icon
          ><fa-icon [icon]="faLandmark"></fa-icon>employment-details</a>
          </li>
          <li>
            <a routerLink="other-details" routerLinkActive="active"
              ><fa-icon
              [icon]="faCircleCheck"
              class="check"
              *ngIf="employeeData.othStatus!=null &&employeeData.othStatus.status=='completed'"
            ></fa-icon
          ><fa-icon [icon]="faFileAlt"></fa-icon>other-details</a>
          </li>
          <li>
            <a routerLink="declaration" routerLinkActive="active"
              ><fa-icon
              [icon]="faCircleCheck"
              class="check"
              *ngIf="employeeData.decStatus!=null &&employeeData.decStatus.status=='completed'"
            ></fa-icon>
              <fa-icon [icon]="faPenNib"></fa-icon>declaration
            </a>
          </li>
        </ul>
      </div>

      <button class="btn" (click)="logout()">Log Out</button>

      <p class="footer">&copy;Diggibyte2022</p>
    </div>
  </mat-drawer>

  <!-- Main-Content -->
  <mat-drawer-content>
    <mat-toolbar>
      <div class="leftContent"></div>
    </mat-toolbar>
    <!-- All the user components get rendered -->

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
