<mat-drawer-container>
  <!-- SideBar Content -->
  <mat-drawer mode="side" opened="true">
    <div class="sidenav-section">
      <!-- <div class="close">
        <button mat-icon-button arial-label="Close">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div> -->

      <div class="userProfile">
        <fa-icon [icon]="faUserCircle" class="icon"></fa-icon>

        <h3>{{ data.name }}</h3>
        <p>{{ data.designation }}</p>
      </div>

      <div class="sidenav-menu">
        <ul>
          <li>
            <a
              routerLink="personal-information"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              ><fa-icon [icon]="faAddressBook"></fa-icon>personal-information</a
            >
          </li>
          <li>
            <a routerLink="educational-qualification" routerLinkActive="active"
              ><fa-icon [icon]="faGraduationCap"></fa-icon
              >educational-qualification</a
            >
          </li>
          <li>
            <a routerLink="employment-details" routerLinkActive="active"
              ><fa-icon [icon]="faLandmark"></fa-icon>employment-details</a
            >
          </li>
          <li>
            <a routerLink="other-details" routerLinkActive="active"
              ><fa-icon [icon]="faFileAlt"></fa-icon>other-details</a
            >
          </li>
          <li>
            <a routerLink="declaration" routerLinkActive="active"
              ><fa-icon [icon]="faPenNib"></fa-icon>declaration</a
            >
          </li>
        </ul>
      </div>

      <button class="btn" (click)="logout()">Log Out</button>

      <p class="footer">&copy;Diggibyte2022</p>
    </div>
  </mat-drawer>

  <!-- Main-Content -->
  <mat-drawer-content>
    <mat-toolbar>
      <div class="leftContent">
        <!-- <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          (click)="sidenav.toggle()"
        >
          <fa-icon [icon]="faBars"></fa-icon>
        </button> -->
        <!-- <img
          src="../../../assets//images/full_logo.png"
          width="200px"
          height="50px"
          alt="diggtibyte_logo"
        /> -->
      </div>
    </mat-toolbar>
    <!-- All the user components get rendered -->

    <router-outlet></router-outlet>

    <!-- landing page component -->
  </mat-drawer-content>
</mat-drawer-container>
