<mat-toolbar>
  <img src="../../assets/images/full_logo.png" alt="Diggibyte_Logo" width="200px"  />
</mat-toolbar>
<button mat-raised-button class="btn back" (click)="clickHandler()">Back</button>
<div class="container">
  <div class="left-content">
    <h3>Forgot Password?</h3>
    <p>
      Enter the E-mail address associated with your account and we’ll send an
      E-mail with instructions / passcode to reset your password.
    </p>
    <mat-form-field appearance="outline">
      <mat-label>Frogot password</mat-label>
      <input matInput placeholder="Enter your email address" />
    </mat-form-field>
    <button mat-raised-button class="btn">Send</button>
  </div>
  <div class="right-content">
    <img
      src="../../assets/images/forgot-password.png"
      alt="forgot-password-image"
    />
  </div>
</div>
