<mat-toolbar>
  <img src="../../assets/images/full_logo.png" alt="Diggibyte_Logo" width="200px"  />
</mat-toolbar>
<button mat-raised-button class="btn back" (click)="clickHandler()">Back</button>
<div class="container">
  <div class="left-content">
    <h3>Forgot Password?</h3>
    <p>
      Enter the E-mail address associated with your account and we’ll send an
      E-mail with instructions / passcode to reset your password.
    </p>
    <mat-form-field appearance="outline">
      <mat-label>Enter Email</mat-label>
      <input type="email" matInput placeholder="Enter your email address" [(ngModel)]="email"
      required
      #forgot_pass_email="ngModel" 
      required
      pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+.[a-z]{2,3}$"/>
      <mat-error
      *ngIf="forgot_pass_email.errors?.['required'] && forgot_pass_email.pristine || forgot_pass_email.value.length==0"
      >Email is required</mat-error
    >

    <mat-error
      *ngIf="forgot_pass_email.errors?.['pattern'] || forgot_pass_email.errors?.['forgot_pass_email']  && forgot_pass_email.dirty && forgot_pass_email.value.length>0"
      >Enter a valid Email id</mat-error
    >
    </mat-form-field>
    <button mat-raised-button class="btn" (click)="next()">Send</button>
  </div>
  <div class="right-content">
    <img
      src="../../assets/images/forgot-password.png"
      alt="forgot-password-image"
    />
  </div>
</div>
