
.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.uploadContainer{
    margin-bottom:1.34375rem ;
    padding: 15px ;
}
.btn-primary:disabled{
    background-image: linear-gradient(to right, #d6d0cc, #f1eeed);
    color: rgba(0, 0, 0, 0.433);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   .content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
   }
}