.expansion-container {
  margin: 1rem 2rem;
}
.mat-expansion-panel {
  margin-bottom: 1rem;
}
.mat-expansion-panel-header {
  padding-top: 1rem;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
h5 {
  margin-top: 15%;
  color: #014868;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
}
h5:after {
  content: "";
  display: block;
  width: 45px;
  border: 2px solid #ff934f;
  border-radius: 2px;
  margin-top: 1rem;
}
.datas {
  font-weight: 500;
}
.btn-orange {
  color: #ff934f;
}
.address-heading {
  padding-top: 1rem;
  font-weight: bold;
  color: #014868;
  text-align: center;
}
.type {
  font-weight: bold;
  color: #014868;
  margin-top: 1rem;
}
.type:not(:first-child){
  margin-top:2rem;
}
.created-container {
  color: #014868;
  padding: 2rem 0;
  margin-left: 80%;
}
.created-heading {
  font-weight: 500;
}
.created-container p,
.created-container h4 {
  display: inline;
  padding-left: 0.5rem;
}
mat-icon {
  color: #014868;
}
.submit {
  width: 5rem;
}
.personal-info {
  padding-top: 1rem;
}
.file-upload{
  text-align: center;
}
/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.dialogue {
  width: 40%;
  height: 10rem;
  margin-top: 8%;
  margin-left: 35%;
  border-radius: 1rem;
}

.diag-content {
  padding: 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.diag-btn {
  width: 10rem;
  margin: 0 2rem;
  margin-left: 30%;
}
.folder-icon {
  padding-left: 1rem;
  display: inline;
  font-size: 2.5rem;
}
.folder-icon mat-icon {
  font-size: 2rem;
}
.uploadContainer {
  width: 10rem;
  display: inline;
  padding: 1rem 0;
 height: 2rem;
 border: none;
}.uploadContainer label{
  color: black;
}
.file-uplaod-conatiner{
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
}
.uploads{
  margin:0 2rem 1rem 0;
  border: 1px solid #014868;
  width: 30rem;
  padding: .5rem;
  border-radius:5px;
  
}

/* ------------------------ */
@media (max-width: 75em) {
  h5 {
    padding-bottom: 0.6rem;
  }
}
@media (max-width: 68.75em) {
  h5 {
    font-size: 1.25rem;
    padding-bottom: 0.3rem;
  }
  .created-container {
    margin-left: 75%;
  }
}
@media (max-width: 62.5em) {
  h5 {
    font-size: 1rem;
    padding: bottom 0;
  }
  h5:after {
    margin-top: 0;
  }
  .created-container {
    margin-left: 65%;
  }

  .mat-expansion-panel-header {
    padding-bottom: 1rem;
  }
}
@media (max-width: 31.25em) {
  .created-heading {
    font-size: 0.8rem;
  }
  .created-container {
    margin-left: 0;
  }
  .created-container p {
    font-size: 0.8rem;
  }
  h5 {
    font-size: 0.9rem;
  }
}
@media (max-width: 25em) {
  h5 {
    font-size: 0.7rem;
  }
  .expansion-container {
    margin: 0.5rem 0.5rem;
  }
  .mat-expansion-panel-body {
    padding: 0.2px;
  }
}
