<div class="expansion-container">
  <div class="created-container">
    <div>
      <h4 class="created-heading">Created by :</h4>
      <p class="datas">Admin</p>
    </div>
    <div>
      <h4 class="created-heading">Created At :</h4>
      <p class="datas">2020-09-08</p>
    </div>
  </div>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel
      [expanded]="step === 0"
      (opened)="setStep(0)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> <h5>Personal Information</h5> </mat-panel-title>

        <mat-panel-description>
          <div></div>
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="personal-info">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="First Name"
            [(ngModel)]="data[0].personal_info.first_name"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="Last Name"
            [(ngModel)]="data[0].personal_info.last_name"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="dob">D.O.B</mat-label>
          <input
            matInput
            [matDatepicker]="dob_picker"
            name="dob"
            id="dob"
            [(ngModel)]="data[0].personal_info.dob"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dob_picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #dob_picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <input
            matInput
            placeholder="Gender"
            [(ngModel)]="data[0].personal_info.gender"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input
            matInput
            placeholder="Mobile Number"
            [(ngModel)]="data[0].personal_info.mobile_number"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Alternate Mobile Number</mat-label>
          <input
            matInput
            placeholder="Alternate Mobile Number"
            [(ngModel)]="
              data[0].personal_info.alternate == null
                ? ''
                : data[0].personal_info.alternate
            "
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Personal Email</mat-label>
          <input
            matInput
            placeholder="Personal Email"
            [(ngModel)]="data[0].personal_info.personal_email"
          />
        </mat-form-field>
      </div>
      <h4 class="address-heading">ADDRESSES</h4>
      <!-- forr loopp this address div -->
      <div *ngFor="let d of data[0].address">
        <p class="type">{{ d.type }}</p>
        <mat-form-field appearance="outline">
          <mat-label>House NO</mat-label>
          <input matInput placeholder="House NO" [(ngModel)]="d.house_no" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Street</mat-label>
          <input matInput placeholder="Street" [(ngModel)]="d.street" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Locality</mat-label>
          <input
            matInput
            placeholder="Locality"
            [(ngModel)]="d.locality == null ? 'NA' : d.locality"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput placeholder="city" [(ngModel)]="d.city" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <input matInput placeholder="State" [(ngModel)]="d.state" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>PinCode</mat-label>
          <input matInput placeholder="PinCode" [(ngModel)]="d.pincode" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <input matInput placeholder="Country" [(ngModel)]="d.country" />
        </mat-form-field>
      </div>
      <button mat-button class="button-gradient submit" (click)="submit()">
        Submit
      </button>

      <mat-action-row>
        <button mat-button class="btn-orange" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 1"
      (opened)="setStep(1)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> <h5>Educational Details</h5> </mat-panel-title>
        <mat-panel-description>
          <div></div>

          <mat-icon>school</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div *ngFor="let d of data[0].educational; let i = index">
        <p class="type">{{ d.type }}</p>
        <mat-form-field appearance="outline">
          <mat-label>University/School Name</mat-label>
          <input
            matInput
            placeholder="University/School Name"
            [(ngModel)]="d.name"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Board</mat-label>
          <input matInput placeholder="Board" [(ngModel)]="d.board" />
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="d.course != null">
          <mat-label>Course</mat-label>
          <input matInput placeholder="Course" [(ngModel)]="d.course" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="start_date">Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="start_date"
            name="start_date"
            id="start_date"
            [(ngModel)]="d.start_date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="start_date"
          ></mat-datepicker-toggle>
          <mat-datepicker #start_date></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="end_date">End Date</mat-label>
          <input
            matInput
            [matDatepicker]="end_date"
            name="end_date"
            id="end_date"
            [(ngModel)]="d.end_date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="end_date"
          ></mat-datepicker-toggle>
          <mat-datepicker #end_date></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Marks</mat-label>
          <input matInput placeholder="Marks" [(ngModel)]="d.marks" />
        </mat-form-field>
        <p class="folder-icon">
          <mat-icon
            (click)="
              openDiag(d.type)"
            >folder</mat-icon
          >
        </p>
        <div *ngIf="clicked == d.type">
          <h4 class="type" style="margin-top: 0">FILES UPLOADED</h4>
          <div
          *ngIf="
            d.provisonal_marks_card == null &&
            d.transfer_certificate == null &&
            d.marksheet == null
          "
        >
          <p class="type" style="text-align: center">No files uplaoded</p>
         
        </div>
          <div class="uploadContainer">
            <span class="type"style="padding-right: .5rem;">Marks sheet:</span>
            <label for="marksheet">{{ d.marksheet==null?"no file uploaded":d.marksheet }}</label>
            <label for="marksheet"
              ><mat-icon class="file-upload" style="padding:0 .5rem;">file_upload</mat-icon></label
            >
            <input
              style="display: none"
              type="file"
              name="marksheet"
              id="marksheet"
              (change)="fileChange('marksheet', $event,i, d.type)"
            />
            <mat-icon (click)="deleteFile('marksheet',i, d.type)"
              >delete</mat-icon
            >
          </div>
          <div class="uploadContainer">
            <span class="type"style="padding-right: .5rem;">Transfer Certificate </span>
            <label for="transfer_certificate">{{ d.transfer_certificate==null?'no file uplaoded':d.transfer_certificate }}</label>
            <label for="transfer_certificate"
              ><mat-icon class="file-upload" style="padding:0 .5rem;">file_upload</mat-icon></label
            >
            <input
              style="display: none"
              type="file"
              name="transfer_certificate"
              id="transfer_certificate"
              (change)="fileChange('transfer_certificate', $event,i, d.type)"
            />
            <mat-icon (click)="deleteFile('transfer_certificate',i, d.type)"
              >delete</mat-icon
            >
          </div>
          <div class="uploadContainer" *ngIf="d.type=='UG' || d.type=='PG'">
            <span class="type"style="padding-right: .5rem;">Provisional marksCard</span>
            <label for="provisonal_marks_card">{{ d.provisonal_marks_card==null?'no file uplaoded':d.provisonal_marks_card }}</label>
            <label for="provisonal_marks_card"
              ><mat-icon class="file-upload" style="padding:0 .5rem;">file_upload</mat-icon></label
            >
            <input
              style="display: none"
              type="file"
              name="provisonal_marks_card"
              id="provisonal_marks_card"
              (change)="fileChange('provisonal_marks_card', $event,i, d.type)"
            />
            <mat-icon (click)="deleteFile('provisonal_marks_card',i, d.type)"
              >delete</mat-icon
            >
          </div>
        </div>
        
      </div>

      <button mat-button class="button-gradient submit" (click)="submit()">
        submit
      </button>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button class="btn-orange" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 2"
      (opened)="setStep(2)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title><h5>Employment Details</h5></mat-panel-title>
        <mat-panel-description>
          <div></div>
          <mat-icon>work</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!--  -->
      <div *ngIf="data[0].employment.length > 0; else fresher">
        <div *ngIf="">
          <mat-form-field appearance="outline">
            <mat-label>Organization Name</mat-label>
            <input matInput placeholder="Organization name" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Hr Name</mat-label>
            <input matInput placeholder="Hr name" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="org_joining_date">Joining Date</mat-label>
            <input
              matInput
              [matDatepicker]="org_joining_date"
              name="org_joining_date"
              id="org_joining_date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="org_joining_date"
            ></mat-datepicker-toggle>
            <mat-datepicker #org_joining_date></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="relieving_date">Relieving Date</mat-label>
            <input
              matInput
              [matDatepicker]="relieving_date"
              name="relieving_date"
              id="relieving_date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="relieving_date"
            ></mat-datepicker-toggle>
            <mat-datepicker #relieving_date></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="notice_date">Notice Date</mat-label>
            <input
              matInput
              [matDatepicker]="notice_date"
              name="notice_date"
              id="notice_date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="notice_date"
            ></mat-datepicker-toggle>
            <mat-datepicker #notice_date></mat-datepicker>
          </mat-form-field>
          <p class="folder-icon">
            <mat-icon (click)="openDiag('employment')">folder</mat-icon>
          </p>
        </div>
      </div>
      <ng-template #fresher>
        <p class="type" style="color:#FF934f;text-align: center;">"Looks like the employee is fresher"</p>
      </ng-template>

      <!--  -->
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button class="btn-orange" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel
      [expanded]="step === 3"
      (opened)="setStep(3)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title><h5>Other Details</h5></mat-panel-title>
        <mat-panel-description>
          <div></div>
          <mat-icon>library_books</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!--  -->
      <div class="boxin">
        <mat-form-field appearance="outline">
          <mat-label>Aadhar card Number</mat-label>
          <input
            matInput
            placeholder="Aadhar card Number"
            [(ngModel)]="data[0].other_details.aadhar_number"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Pan card Number</mat-label>
          <input
            matInput
            placeholder="Pan card Number"
            [(ngModel)]="data[0].other_details.pan_number"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Passport Number</mat-label>
          <input
            matInput
            placeholder="Passport Number"
            [(ngModel)]="data[0].other_details.passport_number"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="passport_expire_date">Passport Expire Date</mat-label>
          <input
            matInput
            [matDatepicker]="passport_expire_date"
            name="passport_expire_date"
            id="passport_expire_date"
            [(ngModel)]="data[0].other_details.passport_expire"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="passport_expire_date"
          ></mat-datepicker-toggle>
          <mat-datepicker #passport_expire_date></mat-datepicker>
        </mat-form-field>
        <p class="folder-icon">
          <mat-icon
            (click)="
              openDiag('proof')"
            >folder</mat-icon
          >
        </p>
        <div *ngIf="clicked =='proof'">
          <h4 class="type" style="margin-top: 0">FILES UPLOADED</h4>
          <div
          *ngIf="
          data[0].other_details.aadhar == null &&
          data[0].other_details.pan == null &&
          data[0].other_details.passport == null &&
          data[0].other_details.covid_certificate==null
          "
        >
          <p class="type" style="text-align: center">No files uplaoded</p>
         
        </div>
          <div class="uploadContainer">
            <span class="type"style="padding-right: .5rem;">Aadhar:</span>
            <label for="aadhar">{{ data[0].other_details.aadhar==null?"no file uploaded":data[0].other_details.aadhar }}</label>
            <label for="aadhar"
              ><mat-icon class="file-upload" style="padding:0 .5rem;">file_upload</mat-icon></label
            >
            <input
              style="display: none"
              type="file"
              name="aadhar"
              id="aadhar"
              (change)="fileChange('aadhar', $event)"
            />
            <mat-icon (click)="deleteFile('aadhar')"
              >delete</mat-icon
            >
          </div>
          <div class="uploadContainer">
            <span class="type"style="padding-right: .5rem;">PAN:</span>
            <label for="pan">{{ data[0].other_details.pan==null?"no file uploaded":data[0].other_details.pan }}</label>
            <label for="pan"
              ><mat-icon class="file-upload" style="padding:0 .5rem;">file_upload</mat-icon></label
            >
            <input
              style="display: none"
              type="file"
              name="pan"
              id="pan"
              (change)="fileChange('pan', $event)"
            />
            <mat-icon (click)="deleteFile('pan')"
              >delete</mat-icon
            >
          </div>
          <div class="uploadContainer">
            <span class="type"style="padding-right: .5rem;">Passport: </span>
            <label for="passport">{{ data[0].other_details.passport==null?"no file uploaded":data[0].other_details.passport }}</label>
            <label for="passport"
              ><mat-icon class="file-upload" style="padding:0 .5rem;">file_upload</mat-icon></label
            >
            <input
              style="display: none"
              type="file"
              name="passport"
              id="passport"
              (change)="fileChange('passport', $event)"
            />
            <mat-icon (click)="deleteFile('passport')"
              >delete</mat-icon
            >
          </div>
          <div class="uploadContainer">
            <span class="type"style="padding-right: .5rem;">Covid certificate: </span>
            <label for="covid_certificate">{{ data[0].other_details.covid_certificate==null?"no file uploaded":data[0].other_details.covid_certificate }}</label>
            <label for="covid_certificate"
              ><mat-icon class="file-upload" style="padding:0 .5rem;">file_upload</mat-icon></label
            >
            <input
              style="display: none"
              type="file"
              name="covid_certificate"
              id="covid_certificate"
              (change)="fileChange('covid_certificate', $event)"
            />
            <mat-icon (click)="deleteFile('covid_certificate')"
              >delete</mat-icon
            >
          </div>
         
        </div>
      </div>
      <!--  -->
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button class="btn-orange" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel
      [expanded]="step === 4"
      (opened)="setStep(4)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title><h5>Declaration</h5></mat-panel-title>
        <mat-panel-description>
          <div></div>
          <mat-icon>style</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!--  -->
      <div class="boxin">
        <mat-form-field appearance="outline">
          <mat-label for="joining_date">Joining Date</mat-label>
          <input
            matInput
            [matDatepicker]="joining_date"
            name="joining_date"
            id="joining_date"
            [(ngModel)]="data[0].declaration.joining_date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="joining_date"
          ></mat-datepicker-toggle>
          <mat-datepicker #joining_date></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Place</mat-label>
          <input
            matInput
            placeholder="Place"
            [(ngModel)]="data[0].declaration.place"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="date">Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            name="date"
            id="date"
            [(ngModel)]="data[0].declaration.date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
      </div>
      <button mat-button class="button-gradient submit">Submit</button>
      <!--  -->
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button class="btn-orange" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<!-- <div id="diag-modal" class="modal" [ngStyle]="{ display: display }">
  <mat-card class="dialogue">
    <div class="diag-content">
      <ul *ngFor="let file of files">
        <li *ngIf="file != null">
          {{ file }} <input type="file" onchange="" />
        </li>
      </ul>
    </div>

    <div class="diag-actions">
      <button mat-button class="button-gradient diag-btn" (click)="close()">
        close
      </button>
      <button mat-button class="button-gradient diag-btn">submit</button>
    </div>
  </mat-card>
</div> -->
