<div class="header-style">
  <mat-icon class="header-icon">style</mat-icon>
  <h2 class="header-headings">PROOF CERTIFICATES AND BANK DETAILS</h2>
</div>
<div class="container">
  <h3>Other Details</h3>
  <form [formGroup]="otherDetail" (ngSubmit)="onSubmit()">
    <div class="card">
      <mat-form-field appearance="outline">
        <mat-label for="aadhar_card_number">Aadhar Card Number</mat-label>
        <input
          matInput
          id="aadhar_card_number"
          name="aadhar_card_number"
          placeholder="Aadhar Card Number"
          formControlName="aadhar_card_number"
          maxlength="14"
         
        />
       
        <mat-error *ngIf="otherDetail.get('aadhar_card_number')?.invalid && (otherDetail.get('aadhar_card_number')?.dirty || otherDetail.get('aadhar_card_number')?.touched) && otherDetail.get('aadhar_card_number')?.errors?.required">
          Aadhar number is required
      </mat-error>
        <mat-error *ngIf="
        !otherDetail.get('aadhar_card_number')?.errors?.required && otherDetail.get('aadhar_card_number')?.errors?.pattern">
        Please enter 12 digit valid aadhar card number as XXXX XXXX XXXX
        </mat-error>
      
      </mat-form-field>
      <div class="uploadContainer">
        <label for="aadharcard">Aadhar Card</label>
        <input
          type="file"
          id="aadharcard"
          name="aadharcard"
          formControlName="aadharCard"
          (change)="fileChange($event,'adh')"
        />
        <mat-error
      *ngIf="otherDetail.get('aadharCard')?.errors?.['required'] && otherDetail.get('aadharCard')?.touched"
      >Please upload a Aadhar card photo</mat-error>
      <mat-error *ngIf="
      !otherDetail.get('aadharCard')?.errors?.required && otherDetail.get('aadharCard')?.errors?.pattern">
      Aadhar card photo must be in pdf formate
      </mat-error>
      </div>
    </div>

    <div class="card">
      <mat-form-field appearance="outline">
        <mat-label>Pan Card Number</mat-label>
        <input
          matInput
          placeholder="Pan Card Number"
          formControlName="pan_card_number"
          maxlength="10"
         
        />
       
        <mat-error *ngIf="otherDetail.get('pan_card_number')?.invalid && (otherDetail.get('pan_card_number')?.dirty || otherDetail.get('pan_card_number')?.touched) && otherDetail.get('pan_card_number')?.errors?.required">
          Pan number is required
      </mat-error>
        <mat-error *ngIf="
        !otherDetail.get('pan_card_number')?.errors?.required && otherDetail.get('pan_card_number')?.errors?.pattern">
        Please enter 10 digit valid Pan number
        </mat-error>
      </mat-form-field>

      <div class="uploadContainer">
        <label for="panCard">PAN Card</label>
        <input
          type="file"
          id="panCard"
          name="panCard"
          formControlName="panCard"
          (change)="fileChange($event,'pan')"
        />
        <mat-error
        *ngIf="otherDetail.get('panCard')?.errors?.['required'] && otherDetail.get('panCard')?.touched"
        >Please upload a Pan card photo</mat-error>
        <mat-error *ngIf="
        !otherDetail.get('panCard')?.errors?.required && otherDetail.get('panCard')?.errors?.pattern">
        Pan card photo must be in pdf formate
        </mat-error>
      </div>
    </div>
    <div class="cards">
      <mat-form-field appearance="outline">
        <mat-label for="passport_number">Passport Number</mat-label>
        <input
          matInput
          id="passport_number"
          name="passport_number"
          placeholder="Passport Number"
          formControlName="passport_number"
          maxLength="8"
         
        />
        <mat-error *ngIf="otherDetail.get('passport_number')?.invalid && (otherDetail.get('passport_number')?.dirty || otherDetail.get('passport_number')?.touched) && otherDetail.get('passport_number')?.errors?.required">
          Passport number is required
      </mat-error>
        <mat-error *ngIf="
        !otherDetail.get('passport_number')?.errors?.required && otherDetail.get('passport_number')?.errors?.pattern">
        Please enter 8 digit valid Passport number
        </mat-error>
 
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="passport_expire">Passport Expire Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker2"
          id="passport_expire"
          name="passport_expire"
          formControlName="passport_expire"
          onkeydown="return false"
          onclick="return false"
          [min]="today"
        />

        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <div class="uploadContainer">
        <label for="passportDetails">Passport Details</label>
        <input
          type="file"
          name="passportDetails"
          id="passportDetails"
          formControlName="passportDetails"
          (change)="fileChange($event,'pass')"
        />
       
        <mat-error *ngIf="
        !otherDetail.get('passportDetails')?.errors?.required && otherDetail.get('passportDetails')?.errors?.pattern">
        Passport details must be in pdf formate
        </mat-error>
      </div>
    </div>

    <div class="uploadContainer">
      <label for="covidCertificate">Covid Certificate</label>
      <input
        type="file"
        name="covidCertificate"
        id="covidCertificate"
        formControlName="covidCertificate"
        (change)="fileChange($event,'covid')"
      />
      <mat-error
      *ngIf="otherDetail.get('covidCertificate')?.errors?.['required'] && otherDetail.get('covidCertificate')?.touched"
      >Please upload a Covid Certificate</mat-error>
      <mat-error *ngIf="
      !otherDetail.get('covidCertificate')?.errors?.required && otherDetail.get('covidCertificate')?.errors?.pattern">
      Covid Certificate must be in pdf formate
      </mat-error>
    </div>
    <!-- Bank Details -->
    <h3>Bank Details</h3>
    <div class="bankCards">
      <mat-form-field appearance="outline">
        <mat-label for="acc_holder_name">Account Holder's Name</mat-label>
        <input
        type="text"
          matInput
          id="acc_holder_name"
          name="acc_holder_name"
          placeholder="Account Holder's Name"
          formControlName="acc_holder_name"
          minlength="3"
          style="text-transform:capitalize;"
        />
       
        <mat-error
        *ngIf="otherDetail.get('acc_holder_name')?.errors?.['required'] && otherDetail.get('acc_holder_name')?.pristine || otherDetail.get('acc_holder_name')?.value.length==0"
        >Account holder name is required</mat-error
      >

      <mat-error
        *ngIf="otherDetail.get('acc_holder_name')?.errors?.['characterValidator'] && otherDetail.get('acc_holder_name')?.dirty && otherDetail.get('acc_holder_name')?.value.length>0"
        >Digits are not allowed</mat-error
      >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="bank_name">Bank Name</mat-label>
        <input
          matInput
          id="bank_name"
          name="bank_name"
          placeholder="Bank Name"
          formControlName="bank_name"
          minlength="3"
          style="text-transform:capitalize;"
        />
        <mat-error
        *ngIf="otherDetail.get('bank_name')?.errors?.['required'] && otherDetail.get('bank_name')?.pristine || otherDetail.get('bank_name')?.value.length==0"
        >Bank name is required</mat-error
      >

      <mat-error
        *ngIf="otherDetail.get('bank_name')?.errors?.['characterValidator'] && otherDetail.get('bank_name')?.dirty && otherDetail.get('bank_name')?.value.length>0"
        >Digits are not allowed</mat-error
      >
     
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="acc_number">Account Number</mat-label>
        <input
          matInput
          id="acc_number"
          name="acc_number"
          placeholder="Account Number"
          formControlName="acc_number"
          minlength="9"
          maxlength="18"
          onkeypress='return event.charCode >= 48 && event.charCode <= 57'
        />
        <mat-error *ngIf="otherDetail.get('acc_number')?.invalid && (otherDetail.get('acc_number')?.dirty || otherDetail.get('acc_number')?.touched) && otherDetail.get('acc_number')?.errors?.required">
          Account number is required
      </mat-error>
        <mat-error *ngIf="
        !otherDetail.get('acc_number')?.errors?.required && otherDetail.get('acc_number')?.errors?.pattern">
        Please enter valid Account number
        </mat-error>
     
    
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="ifsc_code">IFSC Code</mat-label>
        <input
          matInput
          id="ifsc_code"
          name="ifsc_code"
          placeholder="IFSC Code"
          formControlName="ifsc_code"
          maxlength="11"

        />
        <mat-error *ngIf="otherDetail.get('ifsc_code')?.invalid && (otherDetail.get('ifsc_code')?.dirty || otherDetail.get('ifsc_code')?.touched) && otherDetail.get('ifsc_code')?.errors?.required">
          IFSC code is required
      </mat-error>
        <mat-error *ngIf="
        !otherDetail.get('ifsc_code')?.errors?.required && otherDetail.get('ifsc_code')?.errors?.pattern">
        Please enter 11 digit valid IFSC code
        </mat-error>
   
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="type_of_acc">Type of Account</mat-label>
        <mat-select formControlName="type_of_acc">
          <mat-option
            *ngFor="let type_of_acc of type_of_account; index as i"
            [value]="type_of_acc"
          >
            {{ type_of_acc }}
          </mat-option>
        </mat-select>
        <mat-error
        *ngIf="
         
         (otherDetail.get('type_of_acc')?.touched)">
          Please Select Account type
      </mat-error>
      </mat-form-field>
    </div>

    <div class="bankCards">
      <mat-form-field appearance="outline">
        <mat-label for="pf_acc">PF Account Number</mat-label>
        <input
          matInput
          id="pf_acc"
          name="pf_acc"
          placeholder="PF Account"
          formControlName="pf_acc"
          maxlength="26"
          />
       
        <mat-error *ngIf="
        otherDetail.get('pf_acc')?.errors?.pattern">
        Please enter 22 digit in a formate MH/BAN/0000064/000/0000123
      
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="uan_acc">UAN Number</mat-label>
        <input
          matInput
          id="uan_acc"
          name="uan_acc"
          placeholder="UAN Account"
          formControlName="uan_acc"
          maxlength="12"
          onkeypress='return event.charCode >= 48 && event.charCode <= 57'
        />
        <mat-error
        *ngIf="otherDetail.get('uan_acc')?.errors?.['minlength']">
          Please Enter 12 digit valid UAN number
      </mat-error>
      </mat-form-field>
    </div>

    
  </form>

  <div class="btn">
    <div class="btn-back">
      <button mat-button class="btn-primary" (click)="back()">Back</button>
    </div>
    <div class="btn-grp">
      <button
        mat-button
        class="btn-primary"
        type="submit"
        [ngStyle]="{ display: display2 }"
        (click)="onUpdate()"
        [disabled]="!otherDetail.valid"
        >
        Update
      </button>
      <button
      mat-button
      class="btn-primary"
      (click)="onSubmit()"
      [ngStyle]="{ display: display1 }"
      [disabled]="!otherDetail.valid"
      >
        Save
      </button>
      <button mat-button class="btn-primary" (click)="next()">Next</button>
    </div>
  </div>
</div>
