<div class="container">
  <h1>Personal Information</h1>

  <form [formGroup]="personalInformation">
    <div class="content">
      <mat-form-field appearance="outline">
        <mat-label for="first_name">FirstName</mat-label>
        <input
          matInput
          placeholder="first_name"
          type="text"
          name="first_name"
          id="first_name"
          formControlName="first_name"
          minlength="3"
        />
        <mat-error
          *ngIf="this.personalInformation.get('first_name')?.invalid &&
          this.personalInformation.get('first_name')?.touched"
          >{{ getErrorMessage() }}</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="last_name">LastName</mat-label>
        <input
          matInput
          placeholder="last_name"
          type="text"
          name="last_name"
          id="last_name"
          formControlName="last_name"
        />
        <mat-error *ngIf="this.personalInformation.get('last_name')?.invalid &&
        this.personalInformation.get('last_name')?.touched">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="dob">D.O.B</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dob"
          name="dob"
          id="dob"
          onkeydown="return false"
          onclick="return false"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="this.personalInformation.get('dob')?.invalid &&
        this.personalInformation.get('dob')?.touched">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="personal_email">Email</mat-label>
        <input
          matInput
          type="email"
          id="personal_email"
          name="personal_email"
          placeholder="personal_email"
          formControlName="personal_email"
        />
        <mat-error
          *ngIf="this.personalInformation.get('personal_email')?.invalid &&
          this.personalInformation.get('personal_email')?.touched"
          >{{ getErrorMessage() }}</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="mobile_numer">Mobile No</mat-label>
        <input
          matInput
          type="text"
          name="mobile_numer"
          id="mobile_numer"
          placeholder="Mobile No"
          formControlName="mobile_number"
        />
        <mat-error
        *ngIf="this.personalInformation.get('mobile_number')?.invalid &&
        this.personalInformation.get('mobile_number')?.touched"
        >{{ getErrorMessage() }}</mat-error
      >
        <!-- <span *ngIf="this.personalInformation.get('mobile_number').i"
          >Enter a valid mobile number</span
        > -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="alternate_number">Alternate Mobile No</mat-label>
        <input
          matInput
          type="text"
          name="alternate_number"
          id="alternate_number"
          placeholder="Alternate Mobile No"
          formControlName="alternate_number"
        />
        <mat-error
          *ngIf="this.personalInformation.get('alternate_number')?.invalid &&
          this.personalInformation.get('alternate_number')?.touched"
          >{{ getErrorMessage() }}</mat-error
        >
      </mat-form-field>

      <div class="genderContainer">
        <label id="example-radio-group-label" for="gender">Gender</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          formControlName="gender"
          id="gender"
          name="gender"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let gender of genders"
            [value]="gender"
          >
            {{ gender }}
          </mat-radio-button>
          <mat-error
            *ngIf="
              this.personalInformation.get('gender')?.invalid &&
              this.personalInformation.get('gender')?.touched
            "
            >{{ getErrorMessage() }}</mat-error
          >
        </mat-radio-group>
      </div>

      <div class="uploadContainer">
        <label for="photo">Photo</label>
        <input type="file" name="photo" id="photo" formControlName="photo" />
        <mat-error
          *ngIf="
            this.personalInformation.get('photo')?.invalid &&
            this.personalInformation.get('photo')?.touched
          "
          >{{ getErrorMessage() }}</mat-error
        >
      </div>
    </div>
 
    <!-- Father Name -->
    <mat-form-field appearance="outline" style="width: 50%;">
      <mat-label for="father_name">Father Name</mat-label>
      <input
        matInput
        placeholder="Father Name"
        type="text"
        name="father_name"
        id="father_name"
        formControlName="father_name"
        minlength="3"
      />
      <mat-error
        *ngIf="this.personalInformation.get('father_name')?.invalid &&
        this.personalInformation.get('father_name')?.touched"
        >{{ getErrorMessage() }}</mat-error
      >
    </mat-form-field>

    <!-- Current Address -->
    <div formGroupName="current">
      <h3>Current Adress</h3>
      <div class="content">
        <mat-form-field appearance="outline">
          <mat-label for="house_no">House No.</mat-label>
          <input
            matInput
            type="text"
            placeholder="House No."
            formControlName="house_no"
            id="houseNo"
            name="house_no"
          />
          <mat-error
            *ngIf="this.personalInformation.get('house_no')?.invalid &&
            this.personalInformation.get('house_no')?.touched"
            >{{ getErrorMessage() }}</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="street">Street/Area Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Street/Area Name"
            formControlName="street"
            id="street"
            name="street"
          />
          <mat-error *ngIf="this.personalInformation.get('street')?.invalid &&
          this.personalInformation.get('street')?.touched">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="locality">Locality</mat-label>
          <input
            matInput
            type="text"
            placeholder="Locality"
            formControlName="locality"
            id="locality"
            name="locality"
          />
          <mat-error
            *ngIf="this.personalInformation.get('locality')?.invalid &&
            this.personalInformation.get('locality')?.touched"
            >{{ getErrorMessage() }}</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="city">City</mat-label>
          <mat-select formControlName="city" id="city" name="city">
            <mat-option *ngFor="let city of cities" [value]="city">
              {{ city }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="this.personalInformation.get('city')?.invalid &&
          this.personalInformation.get('city')?.touched">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="pincode">Pincode</mat-label>
          <input
            matInput
            type="text"
            placeholder="Pincode"
            formControlName="pincode"
            id="pincode"
            name="pincode"
          />
          <mat-error *ngIf="this.personalInformation.get('pincode')?.invalid &&
          this.personalInformation.get('pincode')?.touched">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="state">State</mat-label>
          <mat-select formControlName="state" id="state" name="state">
            <mat-option *ngFor="let state of states" [value]="state">
              {{ state }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="this.personalInformation.get('state')?.invalid &&
          this.personalInformation.get('state')?.touched">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="country">Country</mat-label>
          <mat-select formControlName="country" id="country" name="country">
            <mat-option *ngFor="let country of countries" [value]="country">
              {{ country }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="this.personalInformation.get('country')?.invalid &&
          this.personalInformation.get('country')?.touched">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Permanent Address -->
    <div formGroupName="permanent">
      <h3>Permanent Adress</h3>
      <section class="example-section">
        <mat-checkbox class="example-margin" (click)="copy($event)"
          >Same as Current Address</mat-checkbox
        >
      </section>
      <div class="content">
        <mat-form-field appearance="outline">
          <mat-label for="houseNo">House No.</mat-label>
          <input
            matInput
            type="text"
            placeholder="House No."
            formControlName="house_no"
            id="houseNo"
            name="houseNo"
          />
          <mat-error
            *ngIf="this.personalInformation.get('house_no')?.invalid &&
            this.personalInformation.get('house_no')?.touched"
            >{{ getErrorMessage() }}</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="street">Street/Area Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Street/Area Name"
            formControlName="street"
            id="street"
            name="street"
          />
          <mat-error *ngIf="this.personalInformation.get('street')?.invalid &&
          this.personalInformation.get('street')?.touched">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="locality">Locality</mat-label>
          <input
            matInput
            type="text"
            placeholder="Locality"
            formControlName="locality"
            id="locality"
            name="locality"
          />
          <mat-error
            *ngIf="this.personalInformation.get('locality')?.invalid &&
            this.personalInformation.get('locality')?.touched"
            >{{ getErrorMessage() }}</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="city">City</mat-label>
          <mat-select formControlName="city" id="city" name="city">
            <mat-option *ngFor="let city of cities" [value]="city">
              {{ city }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="this.personalInformation.get('city')?.invalid &&
          this.personalInformation.get('city')?.touched">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="pincode">Pincode</mat-label>
          <input
            matInput
            type="text"
            placeholder="Pincode"
            formControlName="pincode"
            id="pincode"
            name="pincode"
          />
          <mat-error *ngIf="this.personalInformation.get('pincode')?.invalid &&
          this.personalInformation.get('pincode')?.touched">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="state">State</mat-label>
          <mat-select formControlName="state" id="state" name="state">
            <mat-option *ngFor="let state of states" [value]="state">
              {{ state }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="this.personalInformation.get('state')?.invalid &&
          this.personalInformation.get('state')?.touched">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="counrty">Country</mat-label>
          <mat-select formControlName="country" id="country" name="country">
            <mat-option *ngFor="let country of countries" [value]="country">
              {{ country }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="this.personalInformation.get('country')?.invalid &&
          this.personalInformation.get('country')?.touched">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="btn-grp">
      <button
        mat-button
        class="btn-primary"
        type="submit"
        [disabled]="!personalInformation.valid"
        [ngStyle]="{ display: display1 }"
        (click)="onSubmit()"
      >
        Save
      </button>
      <button
        mat-button
        class="btn-primary"
        type="submit"
        [ngStyle]="{ display: display2 }"
        (click)="onUpdate()"
      >
        Update
      </button>
      <button type="button" mat-button class="btn-primary" (click)="next()">
        Next
      </button>
    </div>
  </form>
</div>
