<div class="container">
  <h1>Personal Information</h1>

  <form [formGroup]="personalInformation">
    <div class="content">
      <mat-form-field appearance="outline">
        <mat-label for="first_name">FirstName</mat-label>

        <input
          type="text"
          matInput
          placeholder="first_name"
          type="text"
          name="first_name"
          id="first_name"
          formControlName="first_name"
          style="text-transform:capitalize;"
          
        />

        <mat-error
          *ngIf="personalInformation.get('first_name')?.errors?.['required'] && personalInformation.get('first_name')?.pristine || personalInformation.get('first_name')?.value.length==0"
          >First name is required</mat-error
        >

        <mat-error
          *ngIf="personalInformation.get('first_name')?.errors?.['minlength'] && personalInformation.get('first_name')?.dirty && personalInformation.get('first_name')?.value.length>0"
          >First name must conatin atleast 3 char</mat-error
        >

        <mat-error
          *ngIf="personalInformation.get('first_name')?.errors?.['characterValidator'] && personalInformation.get('first_name')?.dirty && personalInformation.get('first_name')?.value.length>0"
          >First name must contain only characters</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="last_name">LastName</mat-label>

        <input
          matInput
          placeholder="last_name"
          type="text"
          name="last_name"
          id="last_name"
          formControlName="last_name"
          style="text-transform:capitalize;"
        />

        <mat-error
          *ngIf="personalInformation.get('last_name')?.errors?.['required'] && personalInformation.get('last_name')?.pristine || personalInformation.get('last_name')?.value.length==0"
          >Last name is required</mat-error
        >

        <mat-error
          *ngIf="personalInformation.get('last_name')?.errors?.['characterValidator'] && personalInformation.get('last_name')?.dirty && personalInformation.get('last_name')?.value.length>0"
          >Last name must contain only characters</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="dob">D.O.B</mat-label>

        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dob"
          name="dob"
          id="dob"
          onkeydown="return false"
          onclick="return false"
        />

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

        <mat-datepicker #picker></mat-datepicker>

        <mat-error
          *ngIf="
            this.personalInformation.get('dob')?.invalid &&
            this.personalInformation.get('dob')?.touched
          "
          >Please select date of birth</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="personal_email">Email</mat-label>

        <input
          matInput
          type="email"
          id="personal_email"
          name="personal_email"
          placeholder="personal_email"
          formControlName="personal_email"
        />

        <mat-error
          *ngIf="personalInformation.get('personal_email')?.errors?.['required'] && personalInformation.get('personal_email')?.pristine || personalInformation.get('personal_email')?.value.length==0"
          >Email is required</mat-error
        >

        <mat-error
          *ngIf="personalInformation.get('personal_email')?.errors?.['emailValidator'] || personalInformation.get('personal_email')?.errors?.['email']  && personalInformation.get('personal_email')?.dirty && personalInformation.get('personal_email')?.value.length>0"
          >Enter a valid email id</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="mobile_numer">Mobile No</mat-label>

        <input
          matInput
          type="text"
          name="mobile_numer"
          id="mobile_numer"
          placeholder="Mobile No"
          formControlName="mobile_number"
          maxlength="10"
        />

        <mat-error
          *ngIf="personalInformation.get('mobile_number')?.errors?.['required'] && personalInformation.get('mobile_number')?.pristine || personalInformation.get('mobile_number')?.value.length==0"
          >Mobile number is required</mat-error
        >

        <mat-error
          *ngIf="personalInformation.get('mobile_number')?.errors?.['pattern'] && personalInformation.get('mobile_number')?.dirty && personalInformation.get('mobile_number')?.value.length>0"
          >Enter a valid mobile number</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="alternate_number">Alternate Mobile No</mat-label>

        <input
          matInput
          type="text"
          name="alternate_number"
          id="alternate_number"
          placeholder="Alternate Mobile No"
          formControlName="alternate_number"
        />

        <mat-error
          *ngIf="personalInformation.get('alternate_number')?.errors?.['required'] && personalInformation.get('alternate_number')?.pristine || personalInformation.get('alternate_number')?.value.length==0"
          >Alternate mobile number is required</mat-error
        >

        <mat-error
          *ngIf="personalInformation.get('alternate_number')?.errors?.['pattern'] && personalInformation.get('alternate_number')?.dirty && personalInformation.get('alternate_number')?.value.length>0"
          >Enter a valid mobile number</mat-error
        >
      </mat-form-field>

      <div class="genderContainer">
        <label id="example-radio-group-label" for="gender">Gender</label>

        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          formControlName="gender"
          id="gender"
          name="gender"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let gender of genders"
            [value]="gender"
          >
            {{ gender }}
          </mat-radio-button>

          <mat-error
            *ngIf="
              this.personalInformation.get('gender')?.invalid &&
              this.personalInformation.get('gender')?.touched
            "
            >Please select gender</mat-error
          >
        </mat-radio-group>
      </div>

      <div class="uploadContainer">
        <label for="photo">Photo</label>

        <input
          type="file"
          name="photo"
          id="photo"
          formControlName="photo"
          (change)="fileChange($event)"
        />

        <mat-error
          *ngIf="personalInformation.get('photo')?.errors?.['required'] && personalInformation.get('photo')?.touched"
          >Please upload a photo</mat-error
        >
        <mat-error
          *ngIf="
            !personalInformation.get('photo')?.errors?.required &&
            personalInformation.get('photo')?.errors?.pattern
          "
        >
          Photo must be in jpg/jpeg/png/gif formate
        </mat-error>
      </div>
    </div>

    <!-- Father Name -->

    <mat-form-field appearance="outline" style="width: 50%">
      <mat-label for="father_name">Father Name</mat-label>

      <input
        matInput
        placeholder="Father Name"
        type="text"
        name="father_name"
        id="father_name"
        formControlName="father_name"
        minlength="3"
        style="text-transform:capitalize;"
      />

      <mat-error
        *ngIf="personalInformation.get('father_name')?.errors?.['required'] && personalInformation.get('father_name')?.pristine || personalInformation.get('father_name')?.value.length==0"
        >Father name is required</mat-error
      >

      <mat-error
        *ngIf="personalInformation.get('father_name')?.errors?.['characterValidator'] && personalInformation.get('father_name')?.dirty && personalInformation.get('father_name')?.value.length>0"
        >Last name must contain only characters</mat-error
      >
    </mat-form-field>

    <!-- Current Address -->

    <div formGroupName="current">
      <h3>Current Adress</h3>

      <div class="content">
        <mat-form-field appearance="outline">
          <mat-label for="house_no">House No.</mat-label>

          <input
            matInput
            type="text"
            placeholder="House No."
            formControlName="house_no"
            id="houseNo"
            name="house_no"
            
          />
          <mat-error
          *ngIf="
            personalInformation.get('current.house_no')?.invalid &&
            (personalInformation.get('current.house_no')?.dirty ||
              personalInformation.get('current.house_no')?.touched) &&
            personalInformation.get('current.house_no')?.errors?.required">
          House Number is required
        </mat-error>
          <mat-error
            *ngIf="
              personalInformation.get('current.house_no')?.errors?.['minlength']"
          >
            please enter valid house number
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="street">Street/Area Name</mat-label>

          <input
            matInput
            type="text"
            placeholder="Street/Area Name"
            formControlName="street"
            id="street"
            name="street"
          />
          <mat-error
            *ngIf="
              personalInformation.get('current.street')?.invalid &&
              (personalInformation.get('current.street')?.dirty ||
                personalInformation.get('current.street')?.touched) &&
              personalInformation.get('current.street')?.errors?.required
            "
          >
            Street or Area name is required
          </mat-error>
          <mat-error
            *ngIf="
          !personalInformation.get('current.street')?.errors?.required && personalInformation.get('current.street')?.errors?.['minlength']"
          >
            Please enter valid street or area name
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="locality">Locality</mat-label>

          <input
            matInput
            type="text"
            placeholder="Locality"
            formControlName="locality"
            id="locality"
            name="locality"
          />

          <mat-error
            *ngIf="
              personalInformation.get('current.locality')?.invalid &&
              (personalInformation.get('current.locality')?.dirty ||
                personalInformation.get('current.locality')?.touched) &&
              personalInformation.get('current.locality')?.errors?.required
            "
          >
            locality is required
          </mat-error>
          <mat-error
            *ngIf="
          !personalInformation.get('current.locality')?.errors?.required && personalInformation.get('current.locality')?.errors?.['minlength']"
          >
            Please enter valid locality
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="city">City</mat-label>

          <mat-select formControlName="city" id="city" name="city" (selectionChange)="changeClient($event.value, 'current', 'city')">
            <input
            matInput
            type="text"
            id="city"
            name="city"
            (keyup)="onKey($event,'cities')" class="dropdown" placeholder="Search"
            style="text-transform:capitalize;"> 
           
           <mat-option *ngFor="let city of selectedCities" [value]="city">{{city}}</mat-option>
         </mat-select>

          <mat-error
            *ngIf="
              this.personalInformation.get('current.city')?.invalid &&
              this.personalInformation.get('current.city')?.touched
            "
            >Please select a city</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="pincode">Pincode</mat-label>

          <input
            matInput
            type="text"
            placeholder="Pincode"
            formControlName="pincode"
            id="pincode"
            name="pincode"
            maxlength="6"
          />

          <mat-error
            *ngIf="personalInformation.get('current.pincode')?.errors?.['required'] && personalInformation.get('current.pincode')?.pristine || personalInformation.get('current.pincode')?.value.length==0"
            >Pincode is required</mat-error
          >

          <mat-error
            *ngIf="personalInformation.get('current.pincode')?.errors?.['minlength'] || personalInformation.get('current.pincode')?.errors?.['pinCodeValidator'] && personalInformation.get('current.pincode')?.dirty && personalInformation.get('current.pincode')?.value.length>0"
            >Pin code must conatin only digits</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="state">State</mat-label>
          
          <mat-select formControlName="state" (selectionChange)="changeClient($event.value,'current','state')">
            <input  matInput
            type="text"
           
            id="state"
            name="state" (keyup)="onKey($event,'state')" class="dropdown" placeholder="Search"
            style="text-transform:capitalize;"> 
           
           <mat-option *ngFor="let state of selectedStates" [value]="state">{{state}}</mat-option>
         </mat-select>
         

          <mat-select
            formControlName="state"
            (selectionChange)="changeClient($event.value, 'current', 'state')"
          >
            <input
              matInput
              type="text"
              id="state"
              name="state"
              (keyup)="onKey($event, 'state')"
              class="dropdown"
              placeholder="Search"
            />

            <mat-option *ngFor="let state of selectedStates" [value]="state">{{
              state
            }}</mat-option>
          </mat-select>

          <mat-error
            *ngIf="
              this.personalInformation.get('current.state')?.invalid &&
              this.personalInformation.get('current.state')?.touched
            "
            >Please select a state</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="country">Country</mat-label>

          <mat-select formControlName="country" (selectionChange)="changeClient($event.value,'current','country')">
            <input  matInput
            type="text"
           
            id="country"
            name="country" (keyup)="onKey($event,'country')" class="dropdown" placeholder="Search"
            style="text-transform:capitalize;"> 
           
           <mat-option *ngFor="let country of selectCountries; let i=index" [value]="country">{{country}}</mat-option>
         </mat-select>
         

          <mat-error
            *ngIf="
              this.personalInformation.get('current.country')?.invalid &&
              this.personalInformation.get('current.country')?.touched
            "
            >Please select a country</mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <!-- Permanent Address -->

    <div formGroupName="permanent">
      <h3>Permanent Adress</h3>

      <section class="example-section">
        <mat-checkbox class="example-margin" (click)="copy($event)"
          >Same as Current Address</mat-checkbox
        >
      </section>

      <div class="content">
        <mat-form-field appearance="outline">
          <mat-label for="houseNo">House No.</mat-label>

          <input
            matInput
            type="text"
            placeholder="House No."
            formControlName="house_no"
            id="houseNo"
            name="houseNo"
            minlength="1"
          />
          <mat-error
          *ngIf="
            personalInformation.get('permanent.house_no')?.invalid &&
            (personalInformation.get('permanent.house_no')?.dirty ||
              personalInformation.get('permanent.house_no')?.touched) &&
            personalInformation.get('permanent.house_no')?.errors?.required
          "
        >
          House Number is required
        </mat-error>
          <mat-error
            *ngIf="
            personalInformation.get('permanent.house_no')?.errors?.['minlength']"
          >
            please enter valid house number
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="street">Street/Area Name</mat-label>

          <input
            matInput
            type="text"
            placeholder="Street/Area Name"
            formControlName="street"
            id="street"
            name="street"
          />

          <mat-error
            *ngIf="
              personalInformation.get('permanent.street')?.invalid &&
              (personalInformation.get('permanent.street')?.dirty ||
                personalInformation.get('permanent.street')?.touched) &&
              personalInformation.get('permanent.street')?.errors?.required
            "
          >
            Street or Area name is required
          </mat-error>
          <mat-error
            *ngIf="
          !personalInformation.get('permanent.street')?.errors?.required && personalInformation.get('permanent.street')?.errors?.['minlength']"
          >
            Please enter valid street or area name
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="locality">Locality</mat-label>

          <input
            matInput
            type="text"
            placeholder="Locality"
            formControlName="locality"
            id="locality"
            name="locality"
          />

          <mat-error
            *ngIf="
              personalInformation.get('permanent.locality')?.invalid &&
              (personalInformation.get('permanent.locality')?.dirty ||
                personalInformation.get('permanent.locality')?.touched) &&
              personalInformation.get('permanent.locality')?.errors?.required
            "
          >
            locality is required
          </mat-error>
          <mat-error
            *ngIf="
          !personalInformation.get('permanent.locality')?.errors?.required && personalInformation.get('permanent.locality')?.errors?.['minlength']"
          >
            Please enter valid locality
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="city">City</mat-label>

          <mat-select
            formControlName="city"
            (selectionChange)="changeClient($event.value, 'permanent', 'city')"
          >
            <input
            matInput
            type="text"
            
            id="city"
            name="city"
            (keyup)="onKey($event,'cities')" class="dropdown" placeholder="Search"
            style="text-transform:capitalize;"> 
           
           <mat-option *ngFor="let city of selectedCities" [value]="city">{{city}}</mat-option>
         </mat-select>

          <mat-error
            *ngIf="
              this.personalInformation.get('permanent.city')?.invalid &&
              this.personalInformation.get('permanent.city')?.touched
            "
            >Please select a city</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="pincode">Pincode</mat-label>

          <input
            matInput
            type="text"
            placeholder="Pincode"
            formControlName="pincode"
            id="pincode"
            name="pincode"
            maxlength="6"
          />

          <mat-error
            *ngIf="personalInformation.get('permanent.pincode')?.errors?.['required'] && personalInformation.get('permanent.pincode')?.pristine || personalInformation.get('permanent.pincode')?.value.length==0"
            >Pincode is required</mat-error
          >

          <mat-error
            *ngIf="personalInformation.get('permanent.pincode')?.errors?.['minlength'] || personalInformation.get('permanent.pincode')?.errors?.['pinCodeValidator'] && personalInformation.get('permanent.pincode')?.dirty && personalInformation.get('permanent.pincode')?.value.length>0"
            >Pin code must conatin only digits</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="state">State</mat-label>

          <mat-select formControlName="state" (selectionChange)="changeClient($event.value,'permanent','state')">
            <input  matInput
            type="text"
         
            id="state"
            name="state" (keyup)="onKey($event,'state')" class="dropdown" placeholder="Search"
            style="text-transform:capitalize;"> 
           
           <mat-option *ngFor="let state of selectedStates" [value]="state">{{state}}</mat-option>
         </mat-select>

          <mat-error
            *ngIf="this.personalInformation.get('permanent.state')?.touched"
            >Please select a state</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="counrty">Country</mat-label>

          <mat-select formControlName="country" (selectionChange)="changeClient($event.value,'permanent','country')">
            <input  matInput
            type="text"
            
            id="country"
            name="country" (keyup)="onKey($event,'country')" class="dropdown" placeholder="Search"
            style="text-transform:capitalize;"> 
           
           <mat-option *ngFor="let country of selectCountries ;let i =index" [value]="selectCountries[i]">{{country}}</mat-option>
         </mat-select>

          <mat-error
            *ngIf="personalInformation.get('permanent.country')?.touched"
          >
            Please select a country</mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <div class="btn-grp">
      <button
        mat-button
        class="btn-primary"
        type="submit"
        [ngStyle]="{ display: display1 }"
        (click)="onSubmit()"
      >
        Save
        <!-- [disabled]="!personalInformation.valid" -->
      </button>

      <button
        mat-button
        class="btn-primary"
        type="submit"
        [ngStyle]="{ display: display2 }"
        (click)="onUpdate()"
      >
        Update
      </button>

      <button type="button" mat-button class="btn-primary" (click)="next()">
        Next
      </button>
    </div>
  </form>
</div>
