<h1 mat-dialog-title>Organization Details</h1>
<div>
  <form [formGroup]="organization">
    <mat-form-field appearance="outline">
      <mat-label for="organizationName">Organization</mat-label>
      <input
        matInput
        type="text"
        id="organizationName"
        name="organizationName"
        formControlName="organizationName"
        style="text-transform:capitalize;"
      />
      <!-- <mat-error
      *ngIf="organization.get('organizationName')?.errors?.['required'] && organization.get('organizationName')?.pristine || organization.get('organizationName')?.value.length==0"
      >Organization name is required</mat-error
    > -->

    <mat-error
      *ngIf="organization.get('organizationName')?.errors?.['characterValidator'] && organization.get('organizationName')?.dirty && organization.get('organizationName')?.value.length>0"
      >Organization name is invalid</mat-error
    >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="joiningDate">Joining Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        id="joiningDate"
        name="joiningDate"
        formControlName="joiningDate"
        onkeydown="return false" onclick="return false"
        (dateChange)="dateValidators()"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error
      *ngIf="this.organization.get('joiningDate')?.invalid  &&
      this.organization.get('joiningDate')?.touched"
      >Please select Joining date</mat-error
    >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="relievingDate">Relieving Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        id="relievingDate"
        name="relievingDate"
        formControlName="relievingDate"
        onkeydown="return false" onclick="return false"
        (dateChange)="dateValidators()"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error
      *ngIf="this.organization.get('relievingDate')?.invalid  &&
      this.organization.get('relievingDate')?.touched"
      >Please select releiving date</mat-error
    >
    </mat-form-field>
    <small *ngIf="!this.dateValidator"
    >End date must be greater than start date</small>
    <mat-form-field appearance="outline">
      <mat-label for="hr_name">HR Name</mat-label>
      <input
        matInput
        type="text"
        id="hr_name"
        name="hr_name"
        formControlName="hr_name"
        style="text-transform:capitalize;"
      />
      <!-- <mat-error
      *ngIf="organization.get('hr_name')?.errors?.['required'] && organization.get('hr_name')?.pristine || organization.get('hr_name')?.value.length==0"
      >HR name is required</mat-error
    > -->

    <mat-error
      *ngIf="organization.get('hr_name')?.errors?.['characterValidator'] && organization.get('hr_name')?.dirty && organization.get('hr_name')?.value.length>0"
      >HR name is invalid</mat-error
    >
    </mat-form-field>

    <div class="uploadContainer">
      <label for="relievingLetter">Relieving Letter</label>
      <input
        type="file"
        name="relievingLetter"
        id="relievingLetter"
        formControlName="relievingLetter"
    />
    <mat-error
    *ngIf="organization.get('relievingLetter')?.errors?.['required'] && organization.get('relievingLetter')?.touched"
    >Please upload a relieving letter</mat-error>
    <mat-error *ngIf="
    !organization.get('relievingLetter')?.errors?.required && organization.get('relievingLetter')?.errors?.pattern">
    Relieving letter must be in pdf formate
    </mat-error>
    </div>

    <div class="uploadContainer">
      <label for="offerLetter">Offer Letter</label>
      <input
        type="file"
        name="offerLetter"
        id="offerLetter"
        formControlName="offerLetter"
      />
      <mat-error
      *ngIf="organization.get('offerLetter')?.errors?.['required'] && organization.get('offerLetter')?.touched"
      >Please upload a offer letter</mat-error>
      <mat-error *ngIf="
      !organization.get('offerLetter')?.errors?.required && organization.get('offerLetter')?.errors?.pattern">
      Offer letter must be in pdf formate
      </mat-error>
    </div>

    <div class="uploadContainer">
      <label for="payslip">3 Months payslips</label>
      <input
        type="file"
        name="payslip1"
        id="payslip1"
        formControlName="payslip1"
      />
      <mat-error
      *ngIf="organization.get('payslip1')?.errors?.['required'] && organization.get('payslip1')?.touched"
      >Please upload a Payslip</mat-error>
      <mat-error *ngIf="
      !organization.get('payslip1')?.errors?.required && organization.get('payslip1')?.errors?.pattern">
      Payslip must be in pdf formate
      </mat-error>
      <input
        type="file"
        name="payslip2"
        id="payslip2"
        formControlName="payslip2"
      />
      <mat-error
      *ngIf="organization.get('payslip2')?.errors?.['required'] && organization.get('payslip2')?.touched"
      >Please upload a Payslip</mat-error>
      <mat-error *ngIf="
      !organization.get('payslip2')?.errors?.required && organization.get('payslip2')?.errors?.pattern">
      Payslip must be in pdf formate
      </mat-error>
      <input
        type="file"
        name="payslip3"
        id="payslip3"
        formControlName="payslip3"
      />
      <mat-error
      *ngIf="organization.get('payslip3')?.errors?.['required'] && organization.get('payslip3')?.touched"
      >Please upload a Payslip</mat-error>
      <mat-error *ngIf="
      !organization.get('payslip3')?.errors?.required && organization.get('payslip3')?.errors?.pattern">
      Payslip must be in pdf formate
      </mat-error>
    </div>

    <mat-form-field appearance="outline">
      <mat-label for="noticePeriodEndDate">Notice period End Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker3"
        id="noticePeriodEndDate"
        name="noticePeriodEndDate"
        formControlName="noticePeriodEndDate"
        onkeydown="return false" onclick="return false"
        (dateChange)="dateValidators()"
      />
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
      <mat-error
      *ngIf="this.organization.get('noticePeriodEndDate')?.invalid  &&
      this.organization.get('noticePeriodEndDate')?.touched"
      >Please select notice period end date</mat-error
    >
    </mat-form-field>
  </form>
</div>

<div mat-dialog-action [align]="'end'" class="btn-grp">
  <button mat-button class="btn-primary" (click)="addOrganization()" [disabled]="!organization.valid" >
    {{actionBtn}}
  </button>
  <button mat-button class="btn-primary" mat-dialog-close="true">Close</button>
</div>
