<mat-toolbar>
  <img
    src="../../../assets/images/full_logo.png"
    width="200px"
    height="50px"
    alt="diggtibyte_logo"
  />
  <fa-icon [icon]="faUserCircle"></fa-icon>
</mat-toolbar>
<div class="container">
  <div class="text">
    <h1>Welocome to diggibyte</h1>
    <h2>upload instructions</h2>
    <ul>
      <li>
        Step 1 : Using the ‘Upload Files’ section below, choose the document you
        are uploading in the ‘Choose document’ drop down menu.
      </li>
      <li>Step 2 : Select browse, and locate the file on your local computer</li>
      <li>Step 3 : Select browse, and locate the file on your local computer</li>
      <li>Step 4 : Select browse, and locate the file on your local computer</li>
      <li>Step 5 : Select browse, and locate the file on your local computer</li>
    </ul>
    <form [formGroup]="photoForm">
    <div class="uploadContainer">
      <span class="type"style="padding-right: .5rem;">Upload Profie Photo</span>
      <label for="photo"
      ><mat-icon >file_upload</mat-icon></label
      >
      <label class="file-upload" for="">{{photoForm.value.photo==''?'no file uploaded':photoForm.value.photo}}</label>
      <input
      style="display: none"
        type="file"
        name="photo"
        id="photo"
        (change)="fileChange($event)"
        
        
        />


      <mat-error
        *ngIf="photoForm.get('photo')?.errors?.['required'] && photoForm.get('photo')?.status=='INVALID'"
        >Please upload a photo</mat-error
      >
      <mat-error
        *ngIf="photoForm.get('photo')?.errors?.pattern && photoForm.get('photo')?.status=='INVALID'"
        >Photo must be in jpg/jpeg/png/gif formate
      </mat-error>
    </div>
    <button mat-raised-button class="btn-primary" routerLink="details" [disabled]="!photoForm.valid">
      Proceed&nbsp;<fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
  </form>
  </div>
  <div>
    <img
      src="../../../../assets/images/welcome.svg"
      alt="welcome image"
      width="512"
      height="512"
      class="imagewidth"
    />
  </div>
</div>
