<h1 mat-dialog-title>Add Education</h1>
<div>
  <form [formGroup]="dialogUGForm">
    <mat-form-field appearance="outline">
      <mat-label for="education">Education</mat-label>
      <input
        matInput
        type="text"
        id="education"
        name="education"
        formControlName="education"
        readonly="true"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="education">College</mat-label>
      <input
        matInput
        type="text"
        id="School"
        name="School"
        formControlName="School"
      />
      <mat-error
      *ngIf="
        this.dialogUGForm.get('School')?.invalid &&
        this.dialogUGForm.get('School')?.touched
      "
      >{{ getErrorMessage() }}</mat-error
    >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="course">Degree</mat-label>
      <input
        matInput
        type="text"
        id="course"
        name="course"
        formControlName="course"
      />
      <mat-error
      *ngIf="
        this.dialogUGForm.get('course')?.invalid &&
        this.dialogUGForm.get('course')?.touched
      "
      >{{ getErrorMessage() }}</mat-error
    >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="specialization">Specialization</mat-label>
      <input
        matInput
        type="text"
        id="specialization"
        name="specialization"
        formControlName="specialization"
      />
      <mat-error
      *ngIf="
        this.dialogUGForm.get('specialization')?.invalid &&
        this.dialogUGForm.get('specialization')?.touched
      "
      >{{ getErrorMessage() }}</mat-error
    >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="university">University</mat-label>
      <input
        matInput
        type="text"
        id="board"
        name="board"
        formControlName="board"
      />
      <mat-error
      *ngIf="
        this.dialogUGForm.get('board')?.invalid &&
        this.dialogUGForm.get('board')?.touched
      "
      >{{ getErrorMessage() }}</mat-error
    >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="percentage">Percentage/CGPA</mat-label>
      <input
        matInput
        type="text"
        id="percentage"
        name="percentage"
        formControlName="percentage"
      />
      <mat-error
      *ngIf="
        this.dialogUGForm.get('percentage')?.invalid &&
        this.dialogUGForm.get('percentage')?.touched
      "
      >{{ getErrorMessage() }}</mat-error
    >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="startDate">Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        id="startDate"
        name="startDate"
        formControlName="startDate"
        onkeydown="return false" onclick="return false"
      />
      <mat-error
      *ngIf="
        this.dialogUGForm.get('startDate')?.invalid &&
        this.dialogUGForm.get('startDate')?.touched
      "
      >{{ getErrorMessage() }}</mat-error
    >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="endDate">End Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        id="endDate"
        name="endDate"
        formControlName="endDate"
        onkeydown="return false" onclick="return false"
      />
      <mat-error
      *ngIf="
        this.dialogUGForm.get('endDate')?.invalid &&
        this.dialogUGForm.get('endDate')?.touched
      "
      >{{ getErrorMessage() }}</mat-error
    >
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <div class="uploadContainer">
      <label for="marksheet">Upload Marksheet</label>
      <input
        type="file"
        id="marksheet"
        name="marksheet"
        formControlName="marksheet"
        multiple
        required
      />
      <mat-error
      *ngIf="
        this.dialogUGForm.get('marksheet')?.invalid &&
        this.dialogUGForm.get('marksheet')?.touched
      "
      >{{ getErrorMessage() }}</mat-error
    >
    </div>

    <!-- <div class="uploadContainer">
      <label for="transferCertificate">Transfer Certificate</label>
      <input
        type="file"
        id="transferCertificate"
        name="transferCertificate"
        formControlName="transferCertificate"
      />
    </div> -->
    <div class="uploadContainer">
      <label for="provisionalCertificate">Provisional Certificate</label>
      <input
        type="file"
        id="provisionalCertificate"
        name="provisionalCertificate"
        formControlName="provisionalCertificate"
      />
      
    </div>
    <div class="uploadContainer">
      <label for="convocationCertificate">Convocation Certificate</label>
      <input
        type="file"
        id="convocationCertificate"
        name="convocationCertificate"
        formControlName="convocationCertificate"
      />
      <mat-error
      *ngIf="
        this.dialogUGForm.get('convocationCertificate')?.invalid &&
        this.dialogUGForm.get('convocationCertificate')?.touched"
      >{{ getErrorMessage() }}</mat-error
    >
    </div>
  </form>
</div>

<div mat-dialog-action [align]="'end'" class="btn-grp">
  <button mat-button class="btn-primary" mat-dialog-close="true">Close</button>
  <button mat-button class="btn-primary" (click)="addUGForm()">
    {{ actionBtn }}
  </button>
</div>
