
.change-password-heading
{
    font-weight: 500;
    text-align: center;
    color: #014868;
}
.changepassword-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.diggibyte_logo img
{
    width:200px;
    height:50px;
    padding: 30px;
    margin-left: 2rem;
    color: white ;

}

.success p{
    
    display: inline;
    padding: 0;
    margin-top: -1rem;
}
.success{
    background-color: rgb(33, 217, 33);
}
.success mat-icon{
    font-size: 2rem;
    padding-left: 1rem;
}
.containers{
   
    width:45%;
   
    margin-left: 7rem;
    display:flex;
    flex-direction: column;
    justify-content:left;
    position: relative;
    
}
.changepassword-background
{
    position: absolute;
    background-color: rgba(196, 196, 196, 0.13);
    padding:1.563rem 2.13rem;
    border-radius:1%;
    width:62%;
    margin-top: -0.9rem;
    margin-left:15rem;
}
mat-form-field 
{
    width: 21.875rem;
    font-weight:500;
}
mat-button-toggle
{
    width: 10.8rem;
    font-weight:500;
    color: #ff934f;
}
.mat-button-toggle-checked
{
    background-image: linear-gradient(to right, #ff934f, #fb7d2e);
    color: white;
}
mat-button-toggle-group 
{
    margin-bottom: 2rem;
}
.change_password
{
    color:red;
}
.change_password_p
{
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}
.changePassword-img img
{  
  margin-top: -4rem; 
  width:30rem;
  height:30rem
}
.changePassword-img
{
    
    position: absolute;
    margin-right:70rem;
}



@media(max-width:106.25em)
{
    .containers
    {
        margin-left: 20%;
    }
    .changepassword-container
    {
        margin-top: 5rem;
    }
    mat-button-toggle-group,mat-form-field,.change_password,.button-gradient 
    {
       margin-left: 3rem;
    }
    .changepassword-background
    {
        width:61%;
    }
}
@media(max-width:93.75em)
{
    mat-button-toggle-group,mat-form-field,.change_password,.button-gradient 
    {
       margin-left: 1.8rem;
    }
    .changepassword-container
    {
        margin-top: 0rem;
    }

}
@media(max-width:87.5em)
{
    .containers
    {
        margin-left: 15%;
    }
    mat-button-toggle-group,mat-form-field,.change_password,.button-gradient 
    {
       margin-left: 1rem;
    }
    .changePassword-img
    {
       margin-left:30rem;
    }
    
}
@media(max-width:84.375em)
{
    .changepassword-background
    {
        width:65%;
    }
    .changePassword-img
    {
       margin-left:35rem;
    }
    mat-button-toggle-group,mat-form-field,.change_password,.button-gradient 
    {
       margin-left: 0.5rem;
    }
}
@media(max-width:76em)
{
    mat-button-toggle-group,mat-form-field,.change_password,.button-gradient 
    {
       margin-left: -0.5rem;
    }
}

@media(max-width:71.875em)
{
    mat-button-toggle-group,mat-form-field,.change_password,.button-gradient 
    {
       margin-left: 0.7rem;
    }
    .changepassword-background
    {
        width:78%;
    }
    .containers
    {
        margin-left: 5rem;
    }
    .changePassword-img img
    {
       width:25rem;
      
    }
    .changePassword-img
    {
        margin-left:28rem ;
    }
}
@media(max-width:62.5em)
{
    mat-button-toggle-group,mat-form-field,.change_password,.button-gradient 
    {
       margin-left: 0.25rem;
    }
}
@media(max-width:59.375em)
{
    mat-button-toggle-group,mat-form-field,.change_password,.button-gradient 
    {
       margin-left: 1.2rem;
    }
  
    .changePassword-img
    {
       display: none;
    }
    .containers
    {
        margin-left: 14rem;
    }
    .changepassword-background
    {
        width:100%;
    }
    .changepassword-container
    {
        margin-top: 1rem;
    }
}
@media(max-width:51.25em)
{
    mat-button-toggle-group,mat-form-field,.change_password,.button-gradient 
    {
       margin-left: 0.5rem;
    }
    .containers
    {
      margin-left: 23%;
    }
}
@media(max-width:46.875em)
{
    .changepassword-background
    {
        width:115%;
    }
    .containers
    {
       align-self: none;
       margin-left: 20%;
    }
    
}
@media(max-width:42.813em)
{
    .changepassword-background
    {
        width:137%;
    }
    .containers
    {
      margin-left: 14%;
    }
    
}
@media(width:33.75em)
{
    mat-button-toggle-group,mat-form-field,.change_password,.button-gradient 
    {
      margin-left: -0.5rem;
    }

}
@media(max-width:31.25em)
{
    .containers
    {
        margin-left: 3.5%;
    }
    .changepassword-background
    {
        width:190%;
        padding-left: 2px;
        
    }
    mat-button-toggle-group,mat-form-field,.change_password,.button-gradient 
    {
      margin-left: 3.2rem;
    }
}
@media(max-width:25.875em)
{
    mat-button-toggle-group,mat-form-field,.change_password,.button-gradient 
    {
      margin-left: 2.8rem;
      width:80%;
    }
}