<div class="diggibyte_logo">
  <img src="../../assets/images/full_logo.png" alt="" srcset="" />
</div>

<div class="changepassword-container">
  <div class="containers">
    <form [formGroup]="changeForm">
      <div class="changepassword-background">
        <h4 class="change-password-heading">Change Password</h4>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>

        <br />

        <mat-form-field appearance="outline">
          <mat-label>Change Password</mat-label>
          <input
            matInput
            placeholder="Change Password"
            formControlName="password"
          />
        </mat-form-field>

        <br />

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>

          <input
            matInput
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            (input)="checkPassword($event)"
          />
        </mat-form-field>
        <span  class="errorMessage" [ngStyle]="{display : display}">Password's does not match</span>

        <p>
          <button
            mat-button
            class="button-gradient"
            (click)="onChangePassword($event)"
          >
            Continue
          </button>
        </p>
      </div>
    </form>
  </div>
  <div class="changePassword-img">
    <img src="../../assets/images/choose-password-Img.svg" alt="" srcset="" />
  </div>
</div>
