<div class="container">
  <span class="register-heading">Register Employee </span>
  <div class="form-background">
    <form [formGroup]="regForm">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Employee ID</mat-label>
          <input
            matInput
            placeholder="Enter Employee ID"
            formControlName="id"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input
            matInput
            placeholder="Enter Full Name"
            formControlName="name"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email ID</mat-label>
          <input matInput placeholder="Enter Email" formControlName="email" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input
            matInput
            placeholder="Enter Phone Number"
            formControlName="phone_number"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Designation</mat-label>
          <mat-select formControlName="designation">
            <mat-option
              *ngFor="let designation of designations; index as i"
              [value]="designation"
            >
              {{ designation }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <button mat-button class="button-gradient" (click)="register($event)">
          Register Employee
        </button>
      </p>
    </form>
  </div>
</div>
