@import url('../register-admin/register-admin.component.css');

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #ff9350 !important;
}

/*  mat-label focused style */

::ng-deep.mat-form-field.mat-focused .mat-form-field-label {
  color: #ff9350 !important;
}
.form-card{
  height: 100vh;
}
.upload-lable{
  font-size: 16px;
}
.file-upload{
  padding-right: 1rem;
}