mat-form-field{
    width: 100%;
}


.uploadContainer{
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px){
    .modal{
        width: 100%;
        
    }
}
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #014868 !important;
}

/*  mat-label focused style */

::ng-deep.mat-form-field.mat-focused .mat-form-field-label {
  color: #014868 !important;
}
