<h1 mat-dialog-title>Add Education</h1>
<div class="modal">
  <form [formGroup]="dialog10Form">
    <mat-form-field appearance="outline">
      <mat-label for="education">Education</mat-label>
      <input
        matInput
        type="text"
        id="education"
        name="education"
        formControlName="education"
        readonly="true"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="board">Board</mat-label>
      <input
        matInput
        type="text"
        id="board"
        name="board"
        formControlName="board"
      />
      <mat-error
      *ngIf="
        this.dialog10Form.get('board')?.invalid &&
        this.dialog10Form.get('board')?.touched
      "
      >{{ getErrorMessage() }}</mat-error
    >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="School">School</mat-label>
      <input
        matInput
        type="text"
        id="School"
        name="School"
        formControlName="School"
      />
      <mat-error
      *ngIf="
        this.dialog10Form.get('School')?.invalid &&
        this.dialog10Form.get('School')?.touched
      "
      >{{ getErrorMessage() }}</mat-error
    >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="percentage">Percentage/CGPA</mat-label>
      <input
        matInput
        type="text"
        id="percentage"
        name="percentage"
        formControlName="percentage"
      />
      <mat-error
      *ngIf="
        this.dialog10Form.get('percentage')?.invalid &&
        this.dialog10Form.get('percentage')?.touched
      "
      >{{ getErrorMessage() }}</mat-error
    >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="startDate">Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        id="startDate"
        name="startDate"
        formControlName="startDate"
        onkeydown="return false" onclick="return false"
      />
      <mat-error
      *ngIf="
        this.dialog10Form.get('startDate')?.invalid &&
        this.dialog10Form.get('startDate')?.touched
      "
      >{{ getErrorMessage() }}</mat-error
    >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="endDate">End Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        id="endDate"
        name="endDate"
        formControlName="endDate"
        onkeydown="return false" onclick="return false"
      />
      <mat-error
      *ngIf="
        this.dialog10Form.get('endDate')?.invalid &&
        this.dialog10Form.get('endDate')?.touched
      "
      >{{ getErrorMessage() }}</mat-error
    >
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <div class="uploadContainer">
      <label for="marksheet">Upload Marksheet</label>
      <input
        type="file"
        id="marksheet"
        name="marksheet"
        formControlName="marksheet"
      />
      <mat-error
          *ngIf="
            this.dialog10Form.get('marksheet')?.invalid &&
            this.dialog10Form.get('marksheet')?.touched
          "
          >{{ getErrorMessage() }}</mat-error
        >
    </div>

    <!-- <div class="uploadContainer">
      <label for="transferCertificate">Transfer Certificate</label>
      <input
        type="file"
        id="transferCertificate"
        name="transferCertificate"
        formControlName="transferCertificate"
      />
     
    </div> -->
  </form>
</div>

<div mat-dialog-action [align]="'end'" class="btn-grp">
  <button mat-button class="btn-primary" mat-dialog-close="true">Close</button>
  <button mat-button class="btn-primary" (click)="add10Form()">
    {{ actionBtn }}
  </button>
</div>
