<h1 mat-dialog-title>Add Education</h1>
<div>
  <form [formGroup]="dialogPGForm">
    <mat-form-field appearance="outline">
      <mat-label for="education">Education</mat-label>
      <input
        matInput
        type="text"
        id="education"
        name="education"
        formControlName="education"
        readonly="true"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="education">College</mat-label>
      <input
        matInput
        type="text"
        id="School"
        name="School"
        formControlName="School"
        style="text-transform:capitalize;"
      />
      <mat-error
      *ngIf="dialogPGForm.get('School')?.errors?.['required'] && dialogPGForm.get('School')?.pristine || dialogPGForm.get('School')?.value.length==0"
      >College name is required</mat-error
    >

    <mat-error
      *ngIf="dialogPGForm.get('School')?.errors?.['characterValidator'] && dialogPGForm.get('School')?.dirty && dialogPGForm.get('School')?.value.length>0"
      >Digits and special characters are not allowed</mat-error
    >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="course">Degree</mat-label>
      <input
        matInput
        type="text"
        id="course"
        name="course"
        formControlName="course"
        style="text-transform:capitalize;"
      />
      <mat-error
      *ngIf="dialogPGForm.get('course')?.errors?.['required'] && dialogPGForm.get('course')?.pristine || dialogPGForm.get('course')?.value.length==0"
      >Degree is required</mat-error
    >

    <mat-error
      *ngIf="dialogPGForm.get('course')?.errors?.['characterValidator'] && dialogPGForm.get('course')?.dirty && dialogPGForm.get('course')?.value.length>0"
      >Digits and special characters are not allowed</mat-error
    >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="specialization">Specialization</mat-label>
      <input
        matInput
        type="text"
        id="specialization"
        name="specialization"
        formControlName="specialization"
        style="text-transform:capitalize;"
      />
      <mat-error
      *ngIf="dialogPGForm.get('specialization')?.errors?.['required'] && dialogPGForm.get('specialization')?.pristine || dialogPGForm.get('specialization')?.value.length==0"
      >Specialization is required</mat-error
    >

    <mat-error
      *ngIf="dialogPGForm.get('specialization')?.errors?.['characterValidator'] && dialogPGForm.get('specialization')?.dirty && dialogPGForm.get('specialization')?.value.length>0"
      >Digits and special characters are not allowed</mat-error
    >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="university">University</mat-label>
      <input
        matInput
        type="text"
        id="board"
        name="board"
        formControlName="board"
        style="text-transform:capitalize;"
      />
      <mat-error
      *ngIf="dialogPGForm.get('board')?.errors?.['required'] && dialogPGForm.get('board')?.pristine || dialogPGForm.get('board')?.value.length==0"
      >University is required</mat-error
    >

    <mat-error
      *ngIf="dialogPGForm.get('board')?.errors?.['characterValidator'] && dialogPGForm.get('board')?.dirty && dialogPGForm.get('board')?.value.length>0"
      >Digits and special characters are not allowed</mat-error
    >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="percentage">Percentage/CGPA</mat-label>
      <input
        matInput
        type="text"
        id="percentage"
        name="percentage"
        formControlName="percentage"
        maxlength="5"
      />
      <mat-error
        *ngIf="dialogPGForm.get('percentage')?.errors?.['required'] && dialogPGForm.get('percentage')?.pristine || dialogPGForm.get('percentage')?.value.length==0"
        >Percentage is required</mat-error
      >

      <mat-error
        *ngIf="dialogPGForm.get('percentage')?.errors?.['percentageValidator'] && dialogPGForm.get('percentage')?.dirty && dialogPGForm.get('percentage')?.value.length>0"
        >Enter a valid percentage/CGPA</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="startDate">Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        id="startDate"
        name="startDate"
        formControlName="startDate"
        onkeydown="return false" onclick="return false"
        (dateChange)="dateValidators()"
      />
      <mat-error
      *ngIf="
        this.dialogPGForm.get('startDate')?.invalid &&
        this.dialogPGForm.get('startDate')?.touched
      "
      >Please select start date</mat-error
    >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="endDate">End Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        id="endDate"
        name="endDate"
        formControlName="endDate"
        onkeydown="return false" onclick="return false"
        (dateChange)="dateValidators()"
        />
        <mat-hint *ngIf="!this.dateValidator"
    >End date must be greater than start date</mat-hint>
        <mat-error
        *ngIf="dialogPGForm.get('endDate')?.errors?.['required'] && dialogPGForm.get('endDate')?.pristine || dialogPGForm.get('endDate')?.value.length==0"
        >Please select end date</mat-error
      >
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    

    <div class="uploadContainer">
      <label for="marksheet">Upload Marksheet</label>
      <input
        type="file"
        id="marksheet"
        name="marksheet"
        formControlName="marksheet"
        multiple
      />
   <mat-error
          *ngIf="dialogPGForm.get('marksheet')?.errors?.['required'] && dialogPGForm.get('marksheet')?.touched"
          >Please upload a marksheet</mat-error>
          <mat-error *ngIf="
          !dialogPGForm.get('marksheet')?.errors?.required && dialogPGForm.get('marksheet')?.errors?.pattern">
          marksheet must be in pdf formate
          </mat-error>
    </div>

    <!-- <div class="uploadContainer">
      <label for="transferCertificate">Transfer Certificate</label>
      <input
        type="file"
        id="transferCertificate"
        name="transferCertificate"
        formControlName="transferCertificate"
      />
    </div> -->
    <div class="uploadContainer">
      <label for="provisionalCertificate">Provisional Certificate</label>
      <input
        type="file"
        id="provisionalCertificate"
        name="provisionalCertificate"
        formControlName="provisionalCertificate"
      />
      <mat-error *ngIf="
      dialogPGForm.get('provisionalCertificate')?.errors?.pattern">
      Provisional certificate must be in pdf formate
      </mat-error>
    </div>
    <div class="uploadContainer">
      <label for="convocationCertificate">Convocation Certificate</label>
      <input
        type="file"
        id="convocationCertificate"
        name="convocationCertificate"
        formControlName="convocationCertificate"
      />
      <mat-error *ngIf="
          dialogPGForm.get('convocationCertificate')?.errors?.pattern">
          Convocation Certificate must be in pdf formate
      </mat-error>
    </div>
  </form>
</div>

<div mat-dialog-action [align]="'end'" class="btn-grp">
  <button mat-button class="btn-primary" mat-dialog-close="true">Close</button>
  <button mat-button class="btn-primary" (click)="addPGForm()">
    {{ actionBtn }}
  </button>
</div>
