<mat-drawer-container>
  <!-- SideBar Content -->
  <mat-drawer mode="side" opened="true">
    <div class="sidenav-section">
      <div class="userProfile">
        <div class="profile-img">
          <img
            [src]="src == '' ? '../../../../assets/images/pro.webp' : src"
            alt=""
            srcset=""
          />
        </div>
        <form [formGroup]="photoForm">
          <label for="photo" class="cam"
            ><mat-icon>add_a_photo</mat-icon></label
          >

          <input
            style="display: none"
            type="file"
            name="photo"
            id="photo"
            (change)="fileChange($event)"
            formControlName="photo"
          />
        </form>
        <h4>{{ data.name }}</h4>
        <p>{{ data.designation }}</p>
      </div>

      <div class="sidenav-menu">
        <ul>
          <li>
            <a
              routerLink="dashboard"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              ><fa-icon [icon]="faHouse"></fa-icon>Dashboard</a
            >
          </li>
          <li>
            <a routerLink="addAdmin" routerLinkActive="active"
              ><fa-icon [icon]="faUserPlus"></fa-icon>Register New Admin</a
              >
          </li>
          <li>
            <a routerLink="addEmployee" routerLinkActive="active" routerLinkActive="active"
            ><fa-icon [icon]="faHospitalUser"></fa-icon>Register New Employee</a
            >
          </li>
          <li>
            <a routerLink="employeeLists" routerLinkActive="active" routerLinkActive="active"
            ><fa-icon [icon]="faClipboardList"></fa-icon>All Employees</a
            >
          </li>
          
        </ul>
      </div>

      <button class="btn" (click)="logout()">Log Out</button>

      <p class="footer">&copy;Diggibyte2022</p>
    </div>
  </mat-drawer>

  <!-- Main-Content -->
  

    <!-- All the user components get rendered -->

    <router-outlet></router-outlet>
  
</mat-drawer-container>
