.login-container
{
display: flex;
flex-direction: row;
justify-content: center;

}
.diggibyte_logo img
{
width:200px;
height:50px;
padding: 30px;
margin-left: 2rem;
color: white ;



}



.success p{

display: inline;
padding: 0;
margin-top: -1rem;
}
.success{
background-color: rgb(33, 217, 33);
}
.success mat-icon{
font-size: 2rem;
padding-left: 1rem;
}
.container{

width:45%;

margin-left: 7rem;
display:flex;
flex-direction: column;
justify-content:left;
position: relative;

}
.loginpage-background
{
/* position: absolute; */
background-color: rgba(196, 196, 196, 0.13);
padding:1.563rem 2.13rem;
border-radius:1%;
/* width:62%; */
margin-top: 2rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
mat-form-field
{
width: 21.875rem;
font-weight:500;

}
.toggle
{
width: 10.8rem;
font-weight:500;
color: #ff934f;
}
.mat-button-toggle-checked
{
background-image: linear-gradient(to right, #ff934f, #fb7d2e);
color: white!important;
}
mat-button-toggle-group
{
margin-bottom: 2rem;

}



.change_password
{
color:#014868;
}
.change_password_p
{
margin-bottom: 1rem;
padding-bottom: 0.5rem;
}
.login-img img
{
margin-top: -2rem;
width:30rem;
height:30rem
}
.login-img
{
position: absolute;
margin-left:40rem;
}



/* input outline color */
.mat-form-field-appearance-outline .mat-form-field-outline {
color: #014868!important;

}



/* mat-input focused color */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
color: #014868!important;
}
/* mat-label normal state style */
.mat-form-field-label {
color: #014868!important;

}
/* mat-label focused style */
.mat-form-field.mat-focused .mat-form-field-label {
color: #014868!important;
}
.login
{
/* float: right;
width:348px; */
/* position: relative;
left: -0.5rem; */

}
@media screen and (max-width:112.5em)
{
.login
{
left: 3rem;
}
}



@media screen and (max-width:106.25em)
{
.container
{
margin-left: 20%;
}
.login-container
{
margin-top: 5rem;
}
mat-button-toggle-group,mat-form-field,.change_password,.button-gradient
{
margin-left: 3rem;
}
.loginpage-background
{
width:61%;
}
}
@media screen and (max-width:100em)
{
.login
{
left: 2rem;
}
}
@media screen and (max-width:93.75em)
{
mat-button-toggle-group,mat-form-field,.change_password,.button-gradient
{
margin-left: 1.8rem;
}
.login-container
{
margin-top: 0rem;
}
.login
{
left: 1rem;
}



}
@media screen and (max-width:87.5em)
{
.container
{
margin-left: 15%;
}
mat-button-toggle-group,mat-form-field,.change_password,.button-gradient
{
margin-left: 1rem;
}
.login-img
{
margin-left:30rem;
}
.login
{
left: 0.5rem;
}

}
@media screen and (max-width:84.375em)
{
.loginpage-background
{
width:65%;
}
.login-img
{
margin-left:35rem;
}
mat-button-toggle-group,mat-form-field,.change_password,.button-gradient
{
margin-left: 0.5rem;
}
.login
{
position: relative;
left:-0.6rem;
}
}
@media screen and (max-width:75em)
{
.login
{
left: 2%;
}
}
@media screen and (max-width:76em)
{
mat-button-toggle-group,mat-form-field,.change_password,.button-gradient
{
margin-left: -0.5rem;
}
}



@media screen and (max-width:71.875em)
{
mat-button-toggle-group,mat-form-field,.change_password,.button-gradient
{
margin-left: 0.7rem;
}
.loginpage-background
{
width:78%;
}
.container
{
margin-left: 5rem;
}
.login-img img
{
width:25rem;

}
.login-img
{
margin-left:28rem ;
}
}
@media screen and (max-width:62.5em)
{
mat-button-toggle-group,mat-form-field,.change_password,.button-gradient
{
margin-left: 0.25rem;
}
.login
{
left: 4%;
}

}
@media screen and (max-width:59.375em)
{
mat-button-toggle-group,mat-form-field,.change_password,.button-gradient
{
margin-left: 1.2rem;
}

.login-img
{
display: none;
}
.container
{
margin-left: 14rem;
}
.loginpage-background
{
width:100%;
}
.login-container
{
margin-top: 1rem;
}
}
@media screen and (max-width:51.25em)
{
mat-button-toggle-group,mat-form-field,.change_password,.button-gradient
{
margin-left: 0.5rem;
}
.container
{
margin-left: 23%;
}
.login
{
left: 2%;
}

}
@media screen and (max-width:46.875em)
{
.loginpage-background
{
width:115%;
}
.container
{
align-self: none;
margin-left: 20%;
}

}
@media screen and (max-width:42.813em)
{
.loginpage-background
{
width:137%;
}
.container
{
margin-left: 14%;
}

}
@media screen and (width:33.75em)
{
mat-button-toggle-group,mat-form-field,.change_password,.button-gradient
{
margin-left: -0.5rem;
}
.login
{
left: -0.5rem;
}



}
@media screen and (max-width:31.25em)
{
.container
{
margin-left: 3.5%;
}
.loginpage-background
{
width:190%;
padding-left: 2px;

}
mat-button-toggle-group,mat-form-field,.change_password,.button-gradient
{
margin-left: 3.2rem;
}
.login
{
left: 3.2rem;
}
}
@media screen and (max-width:25.875em)
{
mat-button-toggle-group,mat-form-field,.change_password,.button-gradient
{
margin-left: 2.8rem;
width:80%;
}
.login
{
left: 2.8rem;
}
}