<div class="diggibyte_logo">
  <img src="../../assets/images/full_logo.png" alt="" srcset="" />
</div>

<div class="login-container">
  <div class="container">
    <form [formGroup]="logForm">
      <div class="loginpage-background">
        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedVal" (change)="onValChange(group.value)">
          <mat-button-toggle (click)="setUser('user')" value="user" class="toggle"
            >Employee</mat-button-toggle
          >
          <mat-button-toggle (click)="setUser('admin')" value="admin" class="toggle"
            >Admin</mat-button-toggle
          >
        </mat-button-toggle-group>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>

        <br />

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>

        <p>
          <button mat-button class="button-gradient login" (click)="onLogin($event)">
            Login
          </button>
        </p>
      </div>
    </form>
  </div>
  <div class="login-img">
    <img src="../../assets/images/login_img.svg" alt="" srcset="" />
  </div>
</div>
