<div class="diggibyte_logo">
  <img src="../../assets/images/diggibyte_full_logo.png" alt="" srcset="" />
</div>

<div class="login-container">
  <div class="container">
    <form [formGroup]="logForm">
      <div class="loginpage-background">
        <mat-button-toggle-group>
          <mat-button-toggle (click)="setUser('user')"
            >Employee</mat-button-toggle
          >
          <mat-button-toggle (click)="setUser('admin')"
            >Admin</mat-button-toggle
          >
        </mat-button-toggle-group>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>

        <br />

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>

        <p class="change_password_p">
          <a routerLink="changePassword" class="change_password">
            Change Password?
          </a>
        </p>
        <p>
          <button mat-button class="button-gradient" (click)="onLogin($event)">
            Login
          </button>
        </p>
      </div>
    </form>
  </div>
  <div class="login-img">
    <img src="../../assets/images/login_img.svg" alt="" srcset="" />
  </div>
</div>
