<div class="header-style">
  <mat-icon class="header-icon">work</mat-icon>
  <h2 class="header-headings">Employment Details</h2>
</div>
<div class="container">
  <h3>Work Experience Details</h3>
  <mat-form-field appearance="outline">
    <mat-select placeholder="Select work experience" value="10th">
      <mat-option
        *ngFor="let history of histories; index as i"
        [value]="history"
        (click)="openDialog(i)"
      >
        {{ history }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <button mat-button class="btn-secondary" (click)="openDialog()">
    Add organization
  </button> -->
  <!-- Receive the formdata from parent -->

  <!-- Display the organization record -->
  <div class="container">
    <div style="margin: 20px 0">
      <ng-template #noNewRecords>
        <p class="no-record">Employment Details Fresher</p>
      </ng-template>
      <div class="mat-elevation-z8" *ngIf="!fresher ;else noNewRecords">
        
        <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
          <!-- ID Column -->
          <ng-container matColumnDef="organizationName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              OrganizationName
            </th>

            <td mat-cell *matCellDef="let row">{{ row.org_name }}</td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="joiningDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              JoiningDate
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.joining_date | date: "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="relievingDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              RelievingDate
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.relieving_date | date: "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="hr_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>HR Name</th>
            <td mat-cell *matCellDef="let row">
              {{ row.hr_name }}
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="noticePeriodEndDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              NoticePeriodEndDate
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.notice_date | date: "dd/MM/yyyy" }}
            </td>
          </ng-container> -->

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                color="primary"
                (click)="editOrganization(row)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteOrganization(row.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>

  <div class="btn">
    <div class="btn-back">
      <button
        mat-button
        class="btn-primary"
        routerLink="personal-information"
        (click)="back()"
      >
        Back
      </button>
    </div>
    <div class="btn-grp">
      <button mat-button class="btn-primary" (click)="next()">Next</button>
    </div>
  </div>
</div>
