.btn{
  margin-top: 27%;
}
h3 {
  font-weight: bold;
  padding-top: 16px;
}
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #014868 !important;
}

/*  mat-label focused style */

::ng-deep.mat-form-field.mat-focused .mat-form-field-label {
  color: #014868 !important;
}
